# global options
{
  admin off # disable admin api
  persist_config off # not needed in containerized environment
  # runtime logs
  log {
    output stdout
    format console
    # level DEBUG
  }
  # server options
  servers {
    trusted_proxies static private_ranges # trust docker network proxies
    trusted_proxies cloudflare
  }
}

*.niklasb.com {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  encode zstd

  handle /static* {
    file_server browse
  }

  header /static* Cache-Control max-age=31536000

  # rate limit all POST requests
  rate_limit {
    zone update_settings {
      match {
        method POST
        path /update_settings*
      }
      key {remote_host}
      events 1
      window 1s
    }

    zone post_requests {
      match {
        method POST
        not path /update_settings*
      }
      key {remote_host}
      events 1
      window 5s
    }
  }

  # TODO: retry failed when server restarting?
  reverse_proxy web:9090
}
