.index-grid {
    display: grid;
    column-gap: 48px;
    row-gap: 48px;
    grid-template-columns: 1fr;
}

@media (min-width: 576px) {
    .index-grid {
        grid-template-columns: 234px 234px;
    }
}

@media (min-width: 768px) {
    .index-grid {
        grid-template-columns: 324px 324px;
    }
}

@media (min-width: 992px) {
    .index-grid {
        grid-template-columns: 280px 280px 280px;
    }
}

@media (min-width: 1200px) {
    .index-grid {
        grid-template-columns: 341px 341px 341px;
    }
}

@media (min-width: 1400px) {
    .index-grid {
        grid-template-columns: 400px 400px 400px;
    }
}

.modal {
    display: none;
    background-color: rgb(0, 0, 0, .8);
}

.bg-light-dark {
    background-color: rgb(99, 99, 99);
}

/* .welcome-grid {
    display: grid;
    grid-template:
        "welcome-text"
        "welcome-button";
}

.welcome-text {
    grid-area: welcome-text;
    width: 100%;
}

.welcome-button {
    grid-area: welcome-button;
    width: 147px;
    align-items: end;
}

@media (min-width: 800px) {
    .welcome-grid {
        grid-template:
        "welcome-text none"
        "welcome-text welcome-button";
    }
} */

.padding-1-4 {
    padding: 1px 4px;
}