.auth-card {
  display: flex;
  justify-content: center;

  wa-card {
    max-width: 100%;
    width: 27rem;
  }
}

.main-card {
  display: flex;
  justify-content: center;

  wa-card {
    max-width: 100%;
    width: 60rem;
  }
}

wa-page > main {
  padding: var(--wa-space-m) var(--wa-space-m) var(--wa-space-4xl);
}

nb-budget-card {
  display: flex;
  width: 100%;

  > wa-card {
    width: 100%;
  }
}

wa-card.wa-card-p-0::part(body) {
  padding: 0;
}

nb-search-item {
  flex-grow: 1;
}

.danger-icon-button {
  --wa-color-fill-loud: var(--wa-color-danger-fill-loud);
  --wa-color-fill-normal: var(--wa-color-danger-fill-normal);
  --wa-color-fill-quiet: var(--wa-color-danger-fill-quiet);
  --wa-color-border-loud: var(--wa-color-danger-border-loud);
  --wa-color-border-normal: var(--wa-color-danger-border-normal);
  --wa-color-border-quiet: var(--wa-color-danger-border-quiet);
  --wa-color-on-loud: var(--wa-color-danger-on-loud);
  --wa-color-on-normal: var(--wa-color-danger-on-normal);
  --wa-color-on-quiet: var(--wa-color-danger-on-quiet);

  --background-color: transparent;
  --background-color-hover: var(--wa-color-fill-quiet);
  --background-color-active: color-mix(
    in oklab,
    var(--background-color-hover),
    transparent 20%
  );
  --wa-color-text-quiet: var(--wa-color-on-quiet);
}

nb-transaction {
  .transaction-grid {
    grid-template: "name amount buttons";
    grid-template-columns: repeat(3, 1fr) !important;
  }

  &[editing] .transaction-grid {
    @media (width < 48rem) {
      grid-template-areas:
        "name amount"
        "name buttons";
      grid-template-columns: repeat(2, minmax(min(20px, 100%), 1fr)) !important;
    }

    @media (width < 32rem) {
      grid-template-areas:
        "name amount"
        "name amount"
        "buttons buttons";
    }
  }

  .name {
    grid-area: name;
  }

  .amount {
    grid-area: amount;
  }

  .buttons {
    grid-area: buttons;
  }
}

nb-view-budgets {
  .view-budgets-grid {
    grid-template-columns: repeat(3, minmax(min(200px, 100%), 1fr)) !important;

    @media (width < 48rem) {
      grid-template-columns: repeat(
        2,
        minmax(min(200px, 100%), 1fr)
      ) !important;
    }

    @media (width < 32rem) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}
