.auth-card {
  display: flex;
  justify-content: center;

  wa-card {
    max-width: 100%;
    width: 27rem;
  }
}

.main-card {
  display: flex;
  justify-content: center;

  wa-card {
    max-width: 100%;
    width: 60rem;
  }
}

wa-page > main {
  padding: var(--wa-space-2xl) var(--wa-space-m) var(--wa-space-4xl);
}

nb-budget-card {
  display: flex;
  width: 100%;

  > wa-card {
    width: 100%;
  }
}

wa-card.wa-card-p-0::part(body) {
  padding: 0;
}

nb-search-item {
  flex-grow: 1;
}

wa-button.icon-button {
  line-height: normal;

  &::part(base) {
    padding: var(--wa-space-xs);
    width: auto;
    height: auto;
  }

  &.no-border::part(base) {
    border-width: 0;
  }
}

nb-transaction {
  .transaction-grid {
    grid-template: "name amount buttons";
    grid-template-columns: repeat(3, 1fr) !important;
  }

  &[editing] .transaction-grid {
    @media (width < 48rem) {
      grid-template-areas:
        "name amount"
        "name buttons";
      grid-template-columns: repeat(2, minmax(min(20px, 100%), 1fr)) !important;
    }

    @media (width < 32rem) {
      grid-template-areas:
        "name amount"
        "name amount"
        "buttons buttons";
    }
  }

  .name {
    grid-area: name;
  }

  .amount {
    grid-area: amount;
  }

  .buttons {
    grid-area: buttons;
  }
}

nb-view-budgets {
  .view-budgets-grid {
    grid-template-columns: repeat(3, minmax(min(200px, 100%), 1fr)) !important;

    @media (width < 48rem) {
      grid-template-columns: repeat(
        2,
        minmax(min(200px, 100%), 1fr)
      ) !important;
    }

    @media (width < 32rem) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}

#alerts {
  position: absolute;
  width: 100%;
  top: var(--wa-space-4xl);
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* :root {
  --wa-border-radius-scale: 0.7;
  --wa-border-width-scale: 1;
  --wa-space-scale: 0.75;
} */

/* :root,
:host,
html {
  --wa-font-size-scale: 0.95;
  --wa-form-control-height: round(
    calc(
      2 *
        calc(1 * calc(1 * 0.5rem) + 0 * calc(1 * 0.75rem) + 0 * calc(1 * 1rem)) +
        1em * 1.2
    ),
    1px
  );
} */
