nb-category {
  display: inline-block;
}

.tag {
  display: flex;
  gap: var(--wa-space-2xs);
  align-items: center;
  border: solid 1px;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  background-color: var(--color-gray-90);
  border-color: var(--color-gray-60);
  color: var(--color-gray-60);

  font-size: var(--wa-font-size-xs);
  line-height: var(--wa-line-height-expanded);
  border-radius: var(--wa-border-radius-s);
  padding: 0 var(--wa-space-xs);

  .tag__remove::part(base) {
    color: inherit;
    padding: 0px;
  }
}
