.nb-radio {
  font-size: var(--wa-font-size-2xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--wa-space-3xs);

  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;

  input[type="radio"] {
    display: none;
  }
}

input:checked + .circle {
  outline: 2px solid;
  outline-offset: 2px;
}

input:focus-visible + circle {
  outline: 2px solid;
  outline-offset: 2px;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: var(--wa-border-radius-circle);
  border: 1px solid;
  box-sizing: border-box;
}
