.sl-theme-light {
  .niks-favorite-background {
    background: linear-gradient(
      to right,
      rgba(170, 17, 222, 0.5),
      hsl(198.7 97.9% 57.2% / 50%)
    );
  }

  .red-background {
    background: hsl(0, 80%, 75%);
  }

  .gray-background {
    background: hsl(0, 0%, 75%);
  }

  .orange-background {
    background: hsl(20, 80%, 75%);
  }

  .amber-background {
    background: hsl(40 100% 75%);
  }

  .yellow-background {
    background: hsl(50 100% 75%);
  }

  .lime-background {
    background: hsl(75, 80%, 75%);
  }

  .green-background {
    background: hsl(175, 80%, 75%);
  }

  .emerald-background {
    background: hsl(155 100% 75%);
  }

  .teal-background {
    background: hsl(170 100% 75%);
  }

  .cyan-background {
    background: hsl(185 100% 75%);
  }

  .sky-background {
    background: hsl(200 100% 75%);
  }

  .blue-background {
    background: hsl(240 100% 75%);
  }

  .indigo-background {
    background: hsl(255 100% 75%);
  }

  .violet-background {
    background: hsl(270 100% 75%);
  }

  .purple-background {
    background: hsl(280 100% 75%);
  }

  .fuchsia-background {
    background: hsl(290 100% 75%);
  }

  .pink-background {
    background: hsl(300 100% 75%);
  }

  .rose-background {
    background: hsl(333 100% 75%);
  }
}

.wa-dark {
  .niks-favorite-background {
    background: linear-gradient(
      to right,
      rgba(170, 17, 222, 1),
      hsl(198.7 97.9% 57.2%)
    );
  }

  .red-background {
    background: hsl(0, 80%, 25%);
  }

  .gray-background {
    background: hsl(0, 0%, 25%);
  }

  .orange-background {
    background: hsl(20, 80%, 25%);
  }

  .amber-background {
    background: hsl(40 100% 25%);
  }

  .yellow-background {
    background: hsl(50 100% 25%);
  }

  .lime-background {
    background: hsl(75, 80%, 25%);
  }

  .green-background {
    background: hsl(125, 80%, 25%);
  }

  .emerald-background {
    background: hsl(155 100% 15%);
  }

  .teal-background {
    background: hsl(170 100% 25%);
  }

  .cyan-background {
    background: hsl(185 100% 25%);
  }

  .sky-background {
    background: hsl(200 100% 25%);
  }

  .blue-background {
    background: hsl(240 100% 25%);
  }

  .indigo-background {
    background: hsl(255 100% 25%);
  }

  .violet-background {
    background: hsl(270 100% 25%);
  }

  .purple-background {
    background: hsl(280 100% 25%);
  }

  .fuchsia-background {
    background: hsl(290 100% 25%);
  }

  .pink-background {
    background: hsl(300 100% 25%);
  }

  .rose-background {
    background: hsl(333 100% 25%);
  }
}

/* brand color themes */

.amber-brand {
  --wa-color-brand-05: var(--wa-color-amber-05);
  --wa-color-brand-10: var(--wa-color-amber-10);
  --wa-color-brand-20: var(--wa-color-amber-20);
  --wa-color-brand-30: var(--wa-color-amber-30);
  --wa-color-brand-40: var(--wa-color-amber-40);
  --wa-color-brand-50: var(--wa-color-amber-50);
  --wa-color-brand-60: var(--wa-color-amber-60);
  --wa-color-brand-70: var(--wa-color-amber-70);
  --wa-color-brand-80: var(--wa-color-amber-80);
  --wa-color-brand-90: var(--wa-color-amber-90);
  --wa-color-brand-95: var(--wa-color-amber-95);
}

.lime-brand {
  --wa-color-brand-05: var(--wa-color-lime-05);
  --wa-color-brand-10: var(--wa-color-lime-10);
  --wa-color-brand-20: var(--wa-color-lime-20);
  --wa-color-brand-30: var(--wa-color-lime-30);
  --wa-color-brand-40: var(--wa-color-lime-40);
  --wa-color-brand-50: var(--wa-color-lime-50);
  --wa-color-brand-60: var(--wa-color-lime-60);
  --wa-color-brand-70: var(--wa-color-lime-70);
  --wa-color-brand-80: var(--wa-color-lime-80);
  --wa-color-brand-90: var(--wa-color-lime-90);
  --wa-color-brand-95: var(--wa-color-lime-95);
}

.emerald-brand {
  --wa-color-brand-05: var(--wa-color-emerald-05);
  --wa-color-brand-10: var(--wa-color-emerald-10);
  --wa-color-brand-20: var(--wa-color-emerald-20);
  --wa-color-brand-30: var(--wa-color-emerald-30);
  --wa-color-brand-40: var(--wa-color-emerald-40);
  --wa-color-brand-50: var(--wa-color-emerald-50);
  --wa-color-brand-60: var(--wa-color-emerald-60);
  --wa-color-brand-70: var(--wa-color-emerald-70);
  --wa-color-brand-80: var(--wa-color-emerald-80);
  --wa-color-brand-90: var(--wa-color-emerald-90);
  --wa-color-brand-95: var(--wa-color-emerald-95);
}

.teal-brand {
  --wa-color-brand-05: var(--wa-color-teal-05);
  --wa-color-brand-10: var(--wa-color-teal-10);
  --wa-color-brand-20: var(--wa-color-teal-20);
  --wa-color-brand-30: var(--wa-color-teal-30);
  --wa-color-brand-40: var(--wa-color-teal-40);
  --wa-color-brand-50: var(--wa-color-teal-50);
  --wa-color-brand-60: var(--wa-color-teal-60);
  --wa-color-brand-70: var(--wa-color-teal-70);
  --wa-color-brand-80: var(--wa-color-teal-80);
  --wa-color-brand-90: var(--wa-color-teal-90);
  --wa-color-brand-95: var(--wa-color-teal-95);
}

.sky-brand {
  --wa-color-brand-05: var(--wa-color-sky-05);
  --wa-color-brand-10: var(--wa-color-sky-10);
  --wa-color-brand-20: var(--wa-color-sky-20);
  --wa-color-brand-30: var(--wa-color-sky-30);
  --wa-color-brand-40: var(--wa-color-sky-40);
  --wa-color-brand-50: var(--wa-color-sky-50);
  --wa-color-brand-60: var(--wa-color-sky-60);
  --wa-color-brand-70: var(--wa-color-sky-70);
  --wa-color-brand-80: var(--wa-color-sky-80);
  --wa-color-brand-90: var(--wa-color-sky-90);
  --wa-color-brand-95: var(--wa-color-sky-95);
}

.violet-brand {
  --wa-color-brand-05: var(--wa-color-violet-05);
  --wa-color-brand-10: var(--wa-color-violet-10);
  --wa-color-brand-20: var(--wa-color-violet-20);
  --wa-color-brand-30: var(--wa-color-violet-30);
  --wa-color-brand-40: var(--wa-color-violet-40);
  --wa-color-brand-50: var(--wa-color-violet-50);
  --wa-color-brand-60: var(--wa-color-violet-60);
  --wa-color-brand-70: var(--wa-color-violet-70);
  --wa-color-brand-80: var(--wa-color-violet-80);
  --wa-color-brand-90: var(--wa-color-violet-90);
  --wa-color-brand-95: var(--wa-color-violet-95);
}

.fuchsia-brand {
  --wa-color-brand-05: var(--wa-color-fuchsia-05);
  --wa-color-brand-10: var(--wa-color-fuchsia-10);
  --wa-color-brand-20: var(--wa-color-fuchsia-20);
  --wa-color-brand-30: var(--wa-color-fuchsia-30);
  --wa-color-brand-40: var(--wa-color-fuchsia-40);
  --wa-color-brand-50: var(--wa-color-fuchsia-50);
  --wa-color-brand-60: var(--wa-color-fuchsia-60);
  --wa-color-brand-70: var(--wa-color-fuchsia-70);
  --wa-color-brand-80: var(--wa-color-fuchsia-80);
  --wa-color-brand-90: var(--wa-color-fuchsia-90);
  --wa-color-brand-95: var(--wa-color-fuchsia-95);
}

.rose-brand {
  --wa-color-brand-05: var(--wa-color-rose-05);
  --wa-color-brand-10: var(--wa-color-rose-10);
  --wa-color-brand-20: var(--wa-color-rose-20);
  --wa-color-brand-30: var(--wa-color-rose-30);
  --wa-color-brand-40: var(--wa-color-rose-40);
  --wa-color-brand-50: var(--wa-color-rose-50);
  --wa-color-brand-60: var(--wa-color-rose-60);
  --wa-color-brand-70: var(--wa-color-rose-70);
  --wa-color-brand-80: var(--wa-color-rose-80);
  --wa-color-brand-90: var(--wa-color-rose-90);
  --wa-color-brand-95: var(--wa-color-rose-95);
}
