.sl-theme-light {
  .nb-nav-bg {
    background-color: var(--sl-color-neutral-100);
  }

  .niks-favorite-background {
    background: linear-gradient(
      to right,
      rgba(170, 17, 222, 0.5),
      hsl(198.7 97.9% 57.2% / 50%)
    );
  }

  .red-background {
    background: hsl(0, 80%, 75%);
  }

  .gray-background {
    background: hsl(0, 0%, 75%);
  }

  .orange-background {
    background: hsl(20, 80%, 75%);
  }

  .amber-background {
    background: hsl(40 100% 75%);
  }

  .yellow-background {
    background: hsl(50 100% 75%);
  }

  .lime-background {
    background: hsl(75, 80%, 75%);
  }

  .green-background {
    background: hsl(175, 80%, 75%);
  }

  .emerald-background {
    background: hsl(155 100% 75%);
  }

  .teal-background {
    background: hsl(170 100% 75%);
  }

  .cyan-background {
    background: hsl(185 100% 75%);
  }

  .sky-background {
    background: hsl(200 100% 75%);
  }

  .blue-background {
    background: hsl(240 100% 75%);
  }

  .indigo-background {
    background: hsl(255 100% 75%);
  }

  .violet-background {
    background: hsl(270 100% 75%);
  }

  .purple-background {
    background: hsl(280 100% 75%);
  }

  .fuchsia-background {
    background: hsl(290 100% 75%);
  }

  .pink-background {
    background: hsl(300 100% 75%);
  }

  .rose-background {
    background: hsl(333 100% 75%);
  }
}

.sl-theme-dark {
  .nb-nav-bg {
    background-color: var(--sl-color-neutral-50);
  }

  .niks-favorite-background {
    background: linear-gradient(
      to right,
      rgba(170, 17, 222, 1),
      hsl(198.7 97.9% 57.2%)
    );
  }

  .red-background {
    background: hsl(0, 80%, 25%);
  }

  .gray-background {
    background: hsl(0, 0%, 25%);
  }

  .orange-background {
    background: hsl(20, 80%, 25%);
  }

  .amber-background {
    background: hsl(40 100% 25%);
  }

  .yellow-background {
    background: hsl(50 100% 25%);
  }

  .lime-background {
    background: hsl(75, 80%, 25%);
  }

  .green-background {
    background: hsl(125, 80%, 25%);
  }

  .emerald-background {
    background: hsl(155 100% 15%);
  }

  .teal-background {
    background: hsl(170 100% 25%);
  }

  .cyan-background {
    background: hsl(185 100% 25%);
  }

  .sky-background {
    background: hsl(200 100% 25%);
  }

  .blue-background {
    background: hsl(240 100% 25%);
  }

  .indigo-background {
    background: hsl(255 100% 25%);
  }

  .violet-background {
    background: hsl(270 100% 25%);
  }

  .purple-background {
    background: hsl(280 100% 25%);
  }

  .fuchsia-background {
    background: hsl(290 100% 25%);
  }

  .pink-background {
    background: hsl(300 100% 25%);
  }

  .rose-background {
    background: hsl(333 100% 25%);
  }
}

/* Primary color themes */
.red-primary {
  --sl-color-primary-50: var(--sl-color-red-50);
  --sl-color-primary-100: var(--sl-color-red-100);
  --sl-color-primary-200: var(--sl-color-red-200);
  --sl-color-primary-300: var(--sl-color-red-300);
  --sl-color-primary-400: var(--sl-color-red-400);
  --sl-color-primary-500: var(--sl-color-red-500);
  --sl-color-primary-600: var(--sl-color-red-600);
  --sl-color-primary-700: var(--sl-color-red-700);
  --sl-color-primary-800: var(--sl-color-red-800);
  --sl-color-primary-900: var(--sl-color-red-900);
  --sl-color-primary-950: var(--sl-color-red-950);
}

.gray-primary {
  --sl-color-primary-50: var(--sl-color-gray-50);
  --sl-color-primary-100: var(--sl-color-gray-100);
  --sl-color-primary-200: var(--sl-color-gray-200);
  --sl-color-primary-300: var(--sl-color-gray-300);
  --sl-color-primary-400: var(--sl-color-gray-400);
  --sl-color-primary-500: var(--sl-color-gray-500);
  --sl-color-primary-600: var(--sl-color-gray-600);
  --sl-color-primary-700: var(--sl-color-gray-700);
  --sl-color-primary-800: var(--sl-color-gray-800);
  --sl-color-primary-900: var(--sl-color-gray-900);
  --sl-color-primary-950: var(--sl-color-gray-950);
}

.orange-primary {
  --sl-color-primary-50: var(--sl-color-orange-50);
  --sl-color-primary-100: var(--sl-color-orange-100);
  --sl-color-primary-200: var(--sl-color-orange-200);
  --sl-color-primary-300: var(--sl-color-orange-300);
  --sl-color-primary-400: var(--sl-color-orange-400);
  --sl-color-primary-500: var(--sl-color-orange-500);
  --sl-color-primary-600: var(--sl-color-orange-600);
  --sl-color-primary-700: var(--sl-color-orange-700);
  --sl-color-primary-800: var(--sl-color-orange-800);
  --sl-color-primary-900: var(--sl-color-orange-900);
  --sl-color-primary-950: var(--sl-color-orange-950);
}

.amber-primary {
  --sl-color-primary-50: var(--sl-color-amber-50);
  --sl-color-primary-100: var(--sl-color-amber-100);
  --sl-color-primary-200: var(--sl-color-amber-200);
  --sl-color-primary-300: var(--sl-color-amber-300);
  --sl-color-primary-400: var(--sl-color-amber-400);
  --sl-color-primary-500: var(--sl-color-amber-500);
  --sl-color-primary-600: var(--sl-color-amber-600);
  --sl-color-primary-700: var(--sl-color-amber-700);
  --sl-color-primary-800: var(--sl-color-amber-800);
  --sl-color-primary-900: var(--sl-color-amber-900);
  --sl-color-primary-950: var(--sl-color-amber-950);
}

.yellow-primary {
  --sl-color-primary-50: var(--sl-color-yellow-50);
  --sl-color-primary-100: var(--sl-color-yellow-100);
  --sl-color-primary-200: var(--sl-color-yellow-200);
  --sl-color-primary-300: var(--sl-color-yellow-300);
  --sl-color-primary-400: var(--sl-color-yellow-400);
  --sl-color-primary-500: var(--sl-color-yellow-500);
  --sl-color-primary-600: var(--sl-color-yellow-600);
  --sl-color-primary-700: var(--sl-color-yellow-700);
  --sl-color-primary-800: var(--sl-color-yellow-800);
  --sl-color-primary-900: var(--sl-color-yellow-900);
  --sl-color-primary-950: var(--sl-color-yellow-950);
}

.lime-primary {
  --sl-color-primary-50: var(--sl-color-lime-50);
  --sl-color-primary-100: var(--sl-color-lime-100);
  --sl-color-primary-200: var(--sl-color-lime-200);
  --sl-color-primary-300: var(--sl-color-lime-300);
  --sl-color-primary-400: var(--sl-color-lime-400);
  --sl-color-primary-500: var(--sl-color-lime-500);
  --sl-color-primary-600: var(--sl-color-lime-600);
  --sl-color-primary-700: var(--sl-color-lime-700);
  --sl-color-primary-800: var(--sl-color-lime-800);
  --sl-color-primary-900: var(--sl-color-lime-900);
  --sl-color-primary-950: var(--sl-color-lime-950);
}

.green-primary {
  --sl-color-primary-50: var(--sl-color-green-50);
  --sl-color-primary-100: var(--sl-color-green-100);
  --sl-color-primary-200: var(--sl-color-green-200);
  --sl-color-primary-300: var(--sl-color-green-300);
  --sl-color-primary-400: var(--sl-color-green-400);
  --sl-color-primary-500: var(--sl-color-green-500);
  --sl-color-primary-600: var(--sl-color-green-600);
  --sl-color-primary-700: var(--sl-color-green-700);
  --sl-color-primary-800: var(--sl-color-green-800);
  --sl-color-primary-900: var(--sl-color-green-900);
  --sl-color-primary-950: var(--sl-color-green-950);
}

.emerald-primary {
  --sl-color-primary-50: var(--sl-color-emerald-50);
  --sl-color-primary-100: var(--sl-color-emerald-100);
  --sl-color-primary-200: var(--sl-color-emerald-200);
  --sl-color-primary-300: var(--sl-color-emerald-300);
  --sl-color-primary-400: var(--sl-color-emerald-400);
  --sl-color-primary-500: var(--sl-color-emerald-500);
  --sl-color-primary-600: var(--sl-color-emerald-600);
  --sl-color-primary-700: var(--sl-color-emerald-700);
  --sl-color-primary-800: var(--sl-color-emerald-800);
  --sl-color-primary-900: var(--sl-color-emerald-900);
  --sl-color-primary-950: var(--sl-color-emerald-950);
}

.teal-primary {
  --sl-color-primary-50: var(--sl-color-teal-50);
  --sl-color-primary-100: var(--sl-color-teal-100);
  --sl-color-primary-200: var(--sl-color-teal-200);
  --sl-color-primary-300: var(--sl-color-teal-300);
  --sl-color-primary-400: var(--sl-color-teal-400);
  --sl-color-primary-500: var(--sl-color-teal-500);
  --sl-color-primary-600: var(--sl-color-teal-600);
  --sl-color-primary-700: var(--sl-color-teal-700);
  --sl-color-primary-800: var(--sl-color-teal-800);
  --sl-color-primary-900: var(--sl-color-teal-900);
  --sl-color-primary-950: var(--sl-color-teal-950);
}

.cyan-primary {
  --sl-color-primary-50: var(--sl-color-cyan-50);
  --sl-color-primary-100: var(--sl-color-cyan-100);
  --sl-color-primary-200: var(--sl-color-cyan-200);
  --sl-color-primary-300: var(--sl-color-cyan-300);
  --sl-color-primary-400: var(--sl-color-cyan-400);
  --sl-color-primary-500: var(--sl-color-cyan-500);
  --sl-color-primary-600: var(--sl-color-cyan-600);
  --sl-color-primary-700: var(--sl-color-cyan-700);
  --sl-color-primary-800: var(--sl-color-cyan-800);
  --sl-color-primary-900: var(--sl-color-cyan-900);
  --sl-color-primary-950: var(--sl-color-cyan-950);
}

.sky-primary {
  --sl-color-primary-50: var(--sl-color-sky-50);
  --sl-color-primary-100: var(--sl-color-sky-100);
  --sl-color-primary-200: var(--sl-color-sky-200);
  --sl-color-primary-300: var(--sl-color-sky-300);
  --sl-color-primary-400: var(--sl-color-sky-400);
  --sl-color-primary-500: var(--sl-color-sky-500);
  --sl-color-primary-600: var(--sl-color-sky-600);
  --sl-color-primary-700: var(--sl-color-sky-700);
  --sl-color-primary-800: var(--sl-color-sky-800);
  --sl-color-primary-900: var(--sl-color-sky-900);
  --sl-color-primary-950: var(--sl-color-sky-950);
}

.blue-primary {
  --sl-color-primary-50: var(--sl-color-blue-50);
  --sl-color-primary-100: var(--sl-color-blue-100);
  --sl-color-primary-200: var(--sl-color-blue-200);
  --sl-color-primary-300: var(--sl-color-blue-300);
  --sl-color-primary-400: var(--sl-color-blue-400);
  --sl-color-primary-500: var(--sl-color-blue-500);
  --sl-color-primary-600: var(--sl-color-blue-600);
  --sl-color-primary-700: var(--sl-color-blue-700);
  --sl-color-primary-800: var(--sl-color-blue-800);
  --sl-color-primary-900: var(--sl-color-blue-900);
  --sl-color-primary-950: var(--sl-color-blue-950);
}

.indigo-primary {
  --sl-color-primary-50: var(--sl-color-indigo-50);
  --sl-color-primary-100: var(--sl-color-indigo-100);
  --sl-color-primary-200: var(--sl-color-indigo-200);
  --sl-color-primary-300: var(--sl-color-indigo-300);
  --sl-color-primary-400: var(--sl-color-indigo-400);
  --sl-color-primary-500: var(--sl-color-indigo-500);
  --sl-color-primary-600: var(--sl-color-indigo-600);
  --sl-color-primary-700: var(--sl-color-indigo-700);
  --sl-color-primary-800: var(--sl-color-indigo-800);
  --sl-color-primary-900: var(--sl-color-indigo-900);
  --sl-color-primary-950: var(--sl-color-indigo-950);
}

.violet-primary {
  --sl-color-primary-50: var(--sl-color-violet-50);
  --sl-color-primary-100: var(--sl-color-violet-100);
  --sl-color-primary-200: var(--sl-color-violet-200);
  --sl-color-primary-300: var(--sl-color-violet-300);
  --sl-color-primary-400: var(--sl-color-violet-400);
  --sl-color-primary-500: var(--sl-color-violet-500);
  --sl-color-primary-600: var(--sl-color-violet-600);
  --sl-color-primary-700: var(--sl-color-violet-700);
  --sl-color-primary-800: var(--sl-color-violet-800);
  --sl-color-primary-900: var(--sl-color-violet-900);
  --sl-color-primary-950: var(--sl-color-violet-950);
}

.purple-primary {
  --sl-color-primary-50: var(--sl-color-purple-50);
  --sl-color-primary-100: var(--sl-color-purple-100);
  --sl-color-primary-200: var(--sl-color-purple-200);
  --sl-color-primary-300: var(--sl-color-purple-300);
  --sl-color-primary-400: var(--sl-color-purple-400);
  --sl-color-primary-500: var(--sl-color-purple-500);
  --sl-color-primary-600: var(--sl-color-purple-600);
  --sl-color-primary-700: var(--sl-color-purple-700);
  --sl-color-primary-800: var(--sl-color-purple-800);
  --sl-color-primary-900: var(--sl-color-purple-900);
  --sl-color-primary-950: var(--sl-color-purple-950);
}

.fuchsia-primary {
  --sl-color-primary-50: var(--sl-color-fuchsia-50);
  --sl-color-primary-100: var(--sl-color-fuchsia-100);
  --sl-color-primary-200: var(--sl-color-fuchsia-200);
  --sl-color-primary-300: var(--sl-color-fuchsia-300);
  --sl-color-primary-400: var(--sl-color-fuchsia-400);
  --sl-color-primary-500: var(--sl-color-fuchsia-500);
  --sl-color-primary-600: var(--sl-color-fuchsia-600);
  --sl-color-primary-700: var(--sl-color-fuchsia-700);
  --sl-color-primary-800: var(--sl-color-fuchsia-800);
  --sl-color-primary-900: var(--sl-color-fuchsia-900);
  --sl-color-primary-950: var(--sl-color-fuchsia-950);
}

.pink-primary {
  --sl-color-primary-50: var(--sl-color-pink-50);
  --sl-color-primary-100: var(--sl-color-pink-100);
  --sl-color-primary-200: var(--sl-color-pink-200);
  --sl-color-primary-300: var(--sl-color-pink-300);
  --sl-color-primary-400: var(--sl-color-pink-400);
  --sl-color-primary-500: var(--sl-color-pink-500);
  --sl-color-primary-600: var(--sl-color-pink-600);
  --sl-color-primary-700: var(--sl-color-pink-700);
  --sl-color-primary-800: var(--sl-color-pink-800);
  --sl-color-primary-900: var(--sl-color-pink-900);
  --sl-color-primary-950: var(--sl-color-pink-950);
}

.rose-primary {
  --sl-color-primary-50: var(--sl-color-rose-50);
  --sl-color-primary-100: var(--sl-color-rose-100);
  --sl-color-primary-200: var(--sl-color-rose-200);
  --sl-color-primary-300: var(--sl-color-rose-300);
  --sl-color-primary-400: var(--sl-color-rose-400);
  --sl-color-primary-500: var(--sl-color-rose-500);
  --sl-color-primary-600: var(--sl-color-rose-600);
  --sl-color-primary-700: var(--sl-color-rose-700);
  --sl-color-primary-800: var(--sl-color-rose-800);
  --sl-color-primary-900: var(--sl-color-rose-900);
  --sl-color-primary-950: var(--sl-color-rose-950);
}
