#chart {
  width: 100%;
  min-height: 500px;
  height: 700px;

  @media only screen and (max-width: 600px) {
    height: 500px;
  }
}

.text-greater-than-zero {
  color: var(--color-green-50);
}

.text-less-than-zero {
  color: var(--color-red-60);
}
