.auth-card {
  display: flex;
  justify-content: center;

  wa-card {
    max-width: 100%;
    width: 27rem;
  }
}

.main-card {
  display: flex;
  justify-content: center;

  wa-card {
    max-width: 100%;
    width: 60rem;
  }
}

wa-page > main {
  padding: var(--wa-space-2xl) var(--wa-space-m) var(--wa-space-4xl);
}

nb-budget-card {
  display: flex;
  width: 100%;

  > wa-card {
    width: 100%;
  }
}

wa-card.wa-card-p-0::part(body) {
  padding: 0;
}

nb-search-item {
  flex-grow: 1;
}

wa-button.icon-button {
  line-height: normal;

  &::part(base) {
    padding: var(--wa-space-xs);
    width: auto;
    height: auto;
  }

  &.no-border::part(base) {
    border-width: 0;
  }
}

nb-transaction {
  .transaction-grid {
    grid-template: "name amount buttons";
    grid-template-columns: repeat(3, 1fr) !important;
  }

  &[editing] .transaction-grid {
    @media (width < 48rem) {
      grid-template-areas:
        "name amount"
        "name buttons";
      grid-template-columns: repeat(2, minmax(min(20px, 100%), 1fr)) !important;
    }

    @media (width < 32rem) {
      grid-template-areas:
        "name amount"
        "name amount"
        "buttons buttons";
    }
  }

  .name {
    grid-area: name;
  }

  .amount {
    grid-area: amount;
  }

  .buttons {
    grid-area: buttons;
  }
}

nb-view-budgets {
  .view-budgets-grid {
    grid-template-columns: repeat(3, minmax(min(200px, 100%), 1fr)) !important;

    @media (width < 48rem) {
      grid-template-columns: repeat(
        2,
        minmax(min(200px, 100%), 1fr)
      ) !important;
    }

    @media (width < 32rem) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}

#alerts {
  position: absolute;
  width: 100%;
  top: var(--wa-space-4xl);
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root,
:host,
html {
  --wa-form-control-padding-block: 0.65em;
}

.nb-tab-group-dialog {
  wa-tab-group::part(nav),
  wa-tab-panel::part(base) {
    padding-inline: var(--spacing);
  }

  &::part(body) {
    padding-inline: 0;
  }
}

wa-tab-panel[name="new"]::part(base) {
  padding-bottom: 0;
}

#transactions-dialog:has(wa-tab-group[active="pending"]) {
  &::part(footer) {
    display: none;
  }
}

wa-page {
  transition: all 0.001ms step-start;
}
