.wa-light {
  .niks-favorite-background {
    background: linear-gradient(
      to right,
      rgba(170, 17, 222, 0.5),
      hsl(198.7 97.9% 57.2% / 50%)
    );
  }

  .red-background {
    background: hsl(0, 80%, 75%);
  }

  .gray-background {
    background: hsl(0, 0%, 75%);
  }

  .orange-background {
    background: hsl(20, 80%, 75%);
  }

  .amber-background {
    background: hsl(40 100% 75%);
  }

  .yellow-background {
    background: hsl(50 100% 75%);
  }

  .lime-background {
    background: hsl(75, 80%, 75%);
  }

  .green-background {
    background: hsl(175, 80%, 75%);
  }

  .emerald-background {
    background: hsl(155 100% 75%);
  }

  .teal-background {
    background: hsl(170 100% 75%);
  }

  .cyan-background {
    background: hsl(185 100% 75%);
  }

  .sky-background {
    background: hsl(200 100% 75%);
  }

  .blue-background {
    background: hsl(240 100% 75%);
  }

  .indigo-background {
    background: hsl(255 100% 75%);
  }

  .violet-background {
    background: hsl(270 100% 75%);
  }

  .purple-background {
    background: hsl(280 100% 75%);
  }

  .fuchsia-background {
    background: hsl(290 100% 75%);
  }

  .pink-background {
    background: hsl(300 100% 75%);
  }

  .rose-background {
    background: hsl(333 100% 75%);
  }
}

.wa-dark {
  .niks-favorite-background {
    background: linear-gradient(
      to right,
      rgba(170, 17, 222, 1),
      hsl(198.7 97.9% 57.2%)
    );
  }

  .red-background {
    background: hsl(0, 80%, 25%);
  }

  .gray-background {
    background: hsl(0, 0%, 25%);
  }

  .orange-background {
    background: hsl(20, 80%, 25%);
  }

  .amber-background {
    background: hsl(40 100% 25%);
  }

  .yellow-background {
    background: hsl(50 100% 25%);
  }

  .lime-background {
    background: hsl(75, 80%, 25%);
  }

  .green-background {
    background: hsl(125, 80%, 25%);
  }

  .emerald-background {
    background: hsl(155 100% 15%);
  }

  .teal-background {
    background: hsl(170 100% 25%);
  }

  .cyan-background {
    background: hsl(185 100% 25%);
  }

  .sky-background {
    background: hsl(200 100% 25%);
  }

  .blue-background {
    background: hsl(240 100% 25%);
  }

  .indigo-background {
    background: hsl(255 100% 25%);
  }

  .violet-background {
    background: hsl(270 100% 25%);
  }

  .purple-background {
    background: hsl(280 100% 25%);
  }

  .fuchsia-background {
    background: hsl(290 100% 25%);
  }

  .pink-background {
    background: hsl(300 100% 25%);
  }

  .rose-background {
    background: hsl(333 100% 25%);
  }
}

/* Primary color themes */

.red-brand {
  --wa-color-brand-05: var(--color-red-05);
  --wa-color-brand-10: var(--color-red-10);
  --wa-color-brand-20: var(--color-red-20);
  --wa-color-brand-30: var(--color-red-30);
  --wa-color-brand-40: var(--color-red-40);
  --wa-color-brand-50: var(--color-red-50);
  --wa-color-brand-60: var(--color-red-60);
  --wa-color-brand-70: var(--color-red-70);
  --wa-color-brand-80: var(--color-red-80);
  --wa-color-brand-90: var(--color-red-90);
  --wa-color-brand-95: var(--color-red-95);
  --wa-color-red: var(--wa-color-red-60);
  --wa-color-red-key: 60;
  --wa-color-red-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-red-key), 1) * 100%)
  );
  --wa-color-red-on: color-mix(
    in oklab,
    var(--wa-color-red-10) var(--wa-color-red-gte-60),
    white
  );
}

.orange-brand {
  --wa-color-brand-05: var(--color-orange-05);
  --wa-color-brand-10: var(--color-orange-10);
  --wa-color-brand-20: var(--color-orange-20);
  --wa-color-brand-30: var(--color-orange-30);
  --wa-color-brand-40: var(--color-orange-40);
  --wa-color-brand-50: var(--color-orange-50);
  --wa-color-brand-60: var(--color-orange-60);
  --wa-color-brand-70: var(--color-orange-70);
  --wa-color-brand-80: var(--color-orange-80);
  --wa-color-brand-90: var(--color-orange-90);
  --wa-color-brand-95: var(--color-orange-95);
  --wa-color-orange: var(--wa-color-orange-50);
  --wa-color-orange-key: 50;
  --wa-color-orange-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-orange-key), 1) * 100%)
  );
  --wa-color-orange-on: color-mix(
    in oklab,
    var(--wa-color-orange-10) var(--wa-color-orange-gte-60),
    white
  );
}

.amber-brand {
  --wa-color-brand-05: var(--color-amber-05);
  --wa-color-brand-10: var(--color-amber-10);
  --wa-color-brand-20: var(--color-amber-20);
  --wa-color-brand-30: var(--color-amber-30);
  --wa-color-brand-40: var(--color-amber-40);
  --wa-color-brand-50: var(--color-amber-50);
  --wa-color-brand-60: var(--color-amber-60);
  --wa-color-brand-70: var(--color-amber-70);
  --wa-color-brand-80: var(--color-amber-80);
  --wa-color-brand-90: var(--color-amber-90);
  --wa-color-brand-95: var(--color-amber-95);
  --wa-color-amber: var(--wa-color-amber-50);
  --wa-color-amber-key: 50;
  --wa-color-amber-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-amber-key), 1) * 100%)
  );
  --wa-color-amber-on: color-mix(
    in oklab,
    var(--wa-color-amber-10) var(--wa-color-amber-gte-60),
    white
  );
}

.yellow-brand {
  --wa-color-brand-05: var(--color-yellow-05);
  --wa-color-brand-10: var(--color-yellow-10);
  --wa-color-brand-20: var(--color-yellow-20);
  --wa-color-brand-30: var(--color-yellow-30);
  --wa-color-brand-40: var(--color-yellow-40);
  --wa-color-brand-50: var(--color-yellow-50);
  --wa-color-brand-60: var(--color-yellow-60);
  --wa-color-brand-70: var(--color-yellow-70);
  --wa-color-brand-80: var(--color-yellow-80);
  --wa-color-brand-90: var(--color-yellow-90);
  --wa-color-brand-95: var(--color-yellow-95);
  --wa-color-yellow: var(--wa-color-yellow-50);
  --wa-color-yellow-key: 50;
  --wa-color-yellow-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-yellow-key), 1) * 100%)
  );
  --wa-color-yellow-on: color-mix(
    in oklab,
    var(--wa-color-yellow-10) var(--wa-color-yellow-gte-60),
    white
  );
}

.lime-brand {
  --wa-color-brand-05: var(--color-lime-05);
  --wa-color-brand-10: var(--color-lime-10);
  --wa-color-brand-20: var(--color-lime-20);
  --wa-color-brand-30: var(--color-lime-30);
  --wa-color-brand-40: var(--color-lime-40);
  --wa-color-brand-50: var(--color-lime-50);
  --wa-color-brand-60: var(--color-lime-60);
  --wa-color-brand-70: var(--color-lime-70);
  --wa-color-brand-80: var(--color-lime-80);
  --wa-color-brand-90: var(--color-lime-90);
  --wa-color-brand-95: var(--color-lime-95);
  --wa-color-lime: var(--wa-color-lime-50);
  --wa-color-lime-key: 50;
  --wa-color-lime-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-lime-key), 1) * 100%)
  );
  --wa-color-lime-on: color-mix(
    in oklab,
    var(--wa-color-lime-10) var(--wa-color-lime-gte-60),
    white
  );
}

.green-brand {
  --wa-color-brand-05: var(--color-green-05);
  --wa-color-brand-10: var(--color-green-10);
  --wa-color-brand-20: var(--color-green-20);
  --wa-color-brand-30: var(--color-green-30);
  --wa-color-brand-40: var(--color-green-40);
  --wa-color-brand-50: var(--color-green-50);
  --wa-color-brand-60: var(--color-green-60);
  --wa-color-brand-70: var(--color-green-70);
  --wa-color-brand-80: var(--color-green-80);
  --wa-color-brand-90: var(--color-green-90);
  --wa-color-brand-95: var(--color-green-95);
  --wa-color-green: var(--wa-color-green-50);
  --wa-color-green-key: 50;
  --wa-color-green-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-green-key), 1) * 100%)
  );
  --wa-color-green-on: color-mix(
    in oklab,
    var(--wa-color-green-10) var(--wa-color-green-gte-60),
    white
  );
}

.emerald-brand {
  --wa-color-brand-05: var(--color-emerald-05);
  --wa-color-brand-10: var(--color-emerald-10);
  --wa-color-brand-20: var(--color-emerald-20);
  --wa-color-brand-30: var(--color-emerald-30);
  --wa-color-brand-40: var(--color-emerald-40);
  --wa-color-brand-50: var(--color-emerald-50);
  --wa-color-brand-60: var(--color-emerald-60);
  --wa-color-brand-70: var(--color-emerald-70);
  --wa-color-brand-80: var(--color-emerald-80);
  --wa-color-brand-90: var(--color-emerald-90);
  --wa-color-brand-95: var(--color-emerald-95);
  --wa-color-emerald: var(--wa-color-emerald-50);
  --wa-color-emerald-key: 50;
  --wa-color-emerald-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-emerald-key), 1) * 100%)
  );
  --wa-color-emerald-on: color-mix(
    in oklab,
    var(--wa-color-emerald-10) var(--wa-color-emerald-gte-60),
    white
  );
}

.teal-brand {
  --wa-color-brand-05: var(--color-teal-05);
  --wa-color-brand-10: var(--color-teal-10);
  --wa-color-brand-20: var(--color-teal-20);
  --wa-color-brand-30: var(--color-teal-30);
  --wa-color-brand-40: var(--color-teal-40);
  --wa-color-brand-50: var(--color-teal-50);
  --wa-color-brand-60: var(--color-teal-60);
  --wa-color-brand-70: var(--color-teal-70);
  --wa-color-brand-80: var(--color-teal-80);
  --wa-color-brand-90: var(--color-teal-90);
  --wa-color-brand-95: var(--color-teal-95);
  --wa-color-teal: var(--wa-color-teal-50);
  --wa-color-teal-key: 50;
  --wa-color-teal-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-teal-key), 1) * 100%)
  );
  --wa-color-teal-on: color-mix(
    in oklab,
    var(--wa-color-teal-10) var(--wa-color-teal-gte-60),
    white
  );
}

.cyan-brand {
  --wa-color-brand-05: var(--color-cyan-05);
  --wa-color-brand-10: var(--color-cyan-10);
  --wa-color-brand-20: var(--color-cyan-20);
  --wa-color-brand-30: var(--color-cyan-30);
  --wa-color-brand-40: var(--color-cyan-40);
  --wa-color-brand-50: var(--color-cyan-50);
  --wa-color-brand-60: var(--color-cyan-60);
  --wa-color-brand-70: var(--color-cyan-70);
  --wa-color-brand-80: var(--color-cyan-80);
  --wa-color-brand-90: var(--color-cyan-90);
  --wa-color-brand-95: var(--color-cyan-95);
  --wa-color-cyan: var(--wa-color-cyan-50);
  --wa-color-cyan-key: 50;
  --wa-color-cyan-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-cyan-key), 1) * 100%)
  );
  --wa-color-cyan-on: color-mix(
    in oklab,
    var(--wa-color-cyan-10) var(--wa-color-cyan-gte-60),
    white
  );
}

.sky-brand {
  --wa-color-brand-05: var(--color-sky-05);
  --wa-color-brand-10: var(--color-sky-10);
  --wa-color-brand-20: var(--color-sky-20);
  --wa-color-brand-30: var(--color-sky-30);
  --wa-color-brand-40: var(--color-sky-40);
  --wa-color-brand-50: var(--color-sky-50);
  --wa-color-brand-60: var(--color-sky-60);
  --wa-color-brand-70: var(--color-sky-70);
  --wa-color-brand-80: var(--color-sky-80);
  --wa-color-brand-90: var(--color-sky-90);
  --wa-color-brand-95: var(--color-sky-95);
  --wa-color-sky: var(--wa-color-sky-50);
  --wa-color-sky-key: 50;
  --wa-color-sky-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-sky-key), 1) * 100%)
  );
  --wa-color-sky-on: color-mix(
    in oklab,
    var(--wa-color-sky-10) var(--wa-color-sky-gte-60),
    white
  );
}

.blue-brand {
  --wa-color-brand-05: var(--color-blue-05);
  --wa-color-brand-10: var(--color-blue-10);
  --wa-color-brand-20: var(--color-blue-20);
  --wa-color-brand-30: var(--color-blue-30);
  --wa-color-brand-40: var(--color-blue-40);
  --wa-color-brand-50: var(--color-blue-50);
  --wa-color-brand-60: var(--color-blue-60);
  --wa-color-brand-70: var(--color-blue-70);
  --wa-color-brand-80: var(--color-blue-80);
  --wa-color-brand-90: var(--color-blue-90);
  --wa-color-brand-95: var(--color-blue-95);
  --wa-color-blue: var(--wa-color-blue-50);
  --wa-color-blue-key: 50;
  --wa-color-blue-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-blue-key), 1) * 100%)
  );
  --wa-color-blue-on: color-mix(
    in oklab,
    var(--wa-color-blue-10) var(--wa-color-blue-gte-60),
    white
  );
}

.indigo-brand {
  --wa-color-brand-05: var(--color-indigo-05);
  --wa-color-brand-10: var(--color-indigo-10);
  --wa-color-brand-20: var(--color-indigo-20);
  --wa-color-brand-30: var(--color-indigo-30);
  --wa-color-brand-40: var(--color-indigo-40);
  --wa-color-brand-50: var(--color-indigo-50);
  --wa-color-brand-60: var(--color-indigo-60);
  --wa-color-brand-70: var(--color-indigo-70);
  --wa-color-brand-80: var(--color-indigo-80);
  --wa-color-brand-90: var(--color-indigo-90);
  --wa-color-brand-95: var(--color-indigo-95);
  --wa-color-indigo: var(--wa-color-indigo-50);
  --wa-color-indigo-key: 50;
  --wa-color-indigo-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-indigo-key), 1) * 100%)
  );
  --wa-color-indigo-on: color-mix(
    in oklab,
    var(--wa-color-indigo-10) var(--wa-color-indigo-gte-60),
    white
  );
}

.violet-brand {
  --wa-color-brand-05: var(--color-violet-05);
  --wa-color-brand-10: var(--color-violet-10);
  --wa-color-brand-20: var(--color-violet-20);
  --wa-color-brand-30: var(--color-violet-30);
  --wa-color-brand-40: var(--color-violet-40);
  --wa-color-brand-50: var(--color-violet-50);
  --wa-color-brand-60: var(--color-violet-60);
  --wa-color-brand-70: var(--color-violet-70);
  --wa-color-brand-80: var(--color-violet-80);
  --wa-color-brand-90: var(--color-violet-90);
  --wa-color-brand-95: var(--color-violet-95);
  --wa-color-violet: var(--wa-color-violet-50);
  --wa-color-violet-key: 50;
  --wa-color-violet-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-violet-key), 1) * 100%)
  );
  --wa-color-violet-on: color-mix(
    in oklab,
    var(--wa-color-violet-10) var(--wa-color-violet-gte-60),
    white
  );
}

.purple-brand {
  --wa-color-brand-05: var(--color-purple-05);
  --wa-color-brand-10: var(--color-purple-10);
  --wa-color-brand-20: var(--color-purple-20);
  --wa-color-brand-30: var(--color-purple-30);
  --wa-color-brand-40: var(--color-purple-40);
  --wa-color-brand-50: var(--color-purple-50);
  --wa-color-brand-60: var(--color-purple-60);
  --wa-color-brand-70: var(--color-purple-70);
  --wa-color-brand-80: var(--color-purple-80);
  --wa-color-brand-90: var(--color-purple-90);
  --wa-color-brand-95: var(--color-purple-95);
  --wa-color-purple: var(--wa-color-purple-50);
  --wa-color-purple-key: 50;
  --wa-color-purple-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-purple-key), 1) * 100%)
  );
  --wa-color-purple-on: color-mix(
    in oklab,
    var(--wa-color-purple-10) var(--wa-color-purple-gte-60),
    white
  );
}

.fuchsia-brand {
  --wa-color-brand-05: var(--color-fuchsia-05);
  --wa-color-brand-10: var(--color-fuchsia-10);
  --wa-color-brand-20: var(--color-fuchsia-20);
  --wa-color-brand-30: var(--color-fuchsia-30);
  --wa-color-brand-40: var(--color-fuchsia-40);
  --wa-color-brand-50: var(--color-fuchsia-50);
  --wa-color-brand-60: var(--color-fuchsia-60);
  --wa-color-brand-70: var(--color-fuchsia-70);
  --wa-color-brand-80: var(--color-fuchsia-80);
  --wa-color-brand-90: var(--color-fuchsia-90);
  --wa-color-brand-95: var(--color-fuchsia-95);
  --wa-color-fuchsia: var(--wa-color-fuchsia-50);
  --wa-color-fuchsia-key: 50;
  --wa-color-fuchsia-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-fuchsia-key), 1) * 100%)
  );
  --wa-color-fuchsia-on: color-mix(
    in oklab,
    var(--wa-color-fuchsia-10) var(--wa-color-fuchsia-gte-60),
    white
  );
}

.pink-brand {
  --wa-color-brand-05: var(--color-pink-05);
  --wa-color-brand-10: var(--color-pink-10);
  --wa-color-brand-20: var(--color-pink-20);
  --wa-color-brand-30: var(--color-pink-30);
  --wa-color-brand-40: var(--color-pink-40);
  --wa-color-brand-50: var(--color-pink-50);
  --wa-color-brand-60: var(--color-pink-60);
  --wa-color-brand-70: var(--color-pink-70);
  --wa-color-brand-80: var(--color-pink-80);
  --wa-color-brand-90: var(--color-pink-90);
  --wa-color-brand-95: var(--color-pink-95);
  --wa-color-pink: var(--wa-color-pink-50);
  --wa-color-pink-key: 50;
  --wa-color-pink-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-pink-key), 1) * 100%)
  );
  --wa-color-pink-on: color-mix(
    in oklab,
    var(--wa-color-pink-10) var(--wa-color-pink-gte-60),
    white
  );
}

.rose-brand {
  --wa-color-brand-05: var(--color-rose-05);
  --wa-color-brand-10: var(--color-rose-10);
  --wa-color-brand-20: var(--color-rose-20);
  --wa-color-brand-30: var(--color-rose-30);
  --wa-color-brand-40: var(--color-rose-40);
  --wa-color-brand-50: var(--color-rose-50);
  --wa-color-brand-60: var(--color-rose-60);
  --wa-color-brand-70: var(--color-rose-70);
  --wa-color-brand-80: var(--color-rose-80);
  --wa-color-brand-90: var(--color-rose-90);
  --wa-color-brand-95: var(--color-rose-95);
  --wa-color-rose: var(--wa-color-rose-50);
  --wa-color-rose-key: 50;
  --wa-color-rose-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-rose-key), 1) * 100%)
  );
  --wa-color-rose-on: color-mix(
    in oklab,
    var(--wa-color-rose-10) var(--wa-color-rose-gte-60),
    white
  );
}

.slate-brand {
  --wa-color-brand-05: var(--color-slate-05);
  --wa-color-brand-10: var(--color-slate-10);
  --wa-color-brand-20: var(--color-slate-20);
  --wa-color-brand-30: var(--color-slate-30);
  --wa-color-brand-40: var(--color-slate-40);
  --wa-color-brand-50: var(--color-slate-50);
  --wa-color-brand-60: var(--color-slate-60);
  --wa-color-brand-70: var(--color-slate-70);
  --wa-color-brand-80: var(--color-slate-80);
  --wa-color-brand-90: var(--color-slate-90);
  --wa-color-brand-95: var(--color-slate-95);
  --wa-color-slate: var(--wa-color-slate-50);
  --wa-color-slate-key: 50;
  --wa-color-slate-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-slate-key), 1) * 100%)
  );
  --wa-color-slate-on: color-mix(
    in oklab,
    var(--wa-color-slate-10) var(--wa-color-slate-gte-60),
    white
  );
}

.gray-brand {
  --wa-color-brand-05: var(--color-gray-05);
  --wa-color-brand-10: var(--color-gray-10);
  --wa-color-brand-20: var(--color-gray-20);
  --wa-color-brand-30: var(--color-gray-30);
  --wa-color-brand-40: var(--color-gray-40);
  --wa-color-brand-50: var(--color-gray-50);
  --wa-color-brand-60: var(--color-gray-60);
  --wa-color-brand-70: var(--color-gray-70);
  --wa-color-brand-80: var(--color-gray-80);
  --wa-color-brand-90: var(--color-gray-90);
  --wa-color-brand-95: var(--color-gray-95);
  --wa-color-gray: var(--wa-color-gray-50);
  --wa-color-gray-key: 50;
  --wa-color-gray-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-gray-key), 1) * 100%)
  );
  --wa-color-gray-on: color-mix(
    in oklab,
    var(--wa-color-gray-10) var(--wa-color-gray-gte-60),
    white
  );
}

.zinc-brand {
  --wa-color-brand-05: var(--color-zinc-05);
  --wa-color-brand-10: var(--color-zinc-10);
  --wa-color-brand-20: var(--color-zinc-20);
  --wa-color-brand-30: var(--color-zinc-30);
  --wa-color-brand-40: var(--color-zinc-40);
  --wa-color-brand-50: var(--color-zinc-50);
  --wa-color-brand-60: var(--color-zinc-60);
  --wa-color-brand-70: var(--color-zinc-70);
  --wa-color-brand-80: var(--color-zinc-80);
  --wa-color-brand-90: var(--color-zinc-90);
  --wa-color-brand-95: var(--color-zinc-95);
  --wa-color-zinc: var(--wa-color-zinc-50);
  --wa-color-zinc-key: 50;
  --wa-color-zinc-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-zinc-key), 1) * 100%)
  );
  --wa-color-zinc-on: color-mix(
    in oklab,
    var(--wa-color-zinc-10) var(--wa-color-zinc-gte-60),
    white
  );
}

.neutral-brand {
  --wa-color-brand-05: var(--color-neutral-05);
  --wa-color-brand-10: var(--color-neutral-10);
  --wa-color-brand-20: var(--color-neutral-20);
  --wa-color-brand-30: var(--color-neutral-30);
  --wa-color-brand-40: var(--color-neutral-40);
  --wa-color-brand-50: var(--color-neutral-50);
  --wa-color-brand-60: var(--color-neutral-60);
  --wa-color-brand-70: var(--color-neutral-70);
  --wa-color-brand-80: var(--color-neutral-80);
  --wa-color-brand-90: var(--color-neutral-90);
  --wa-color-brand-95: var(--color-neutral-95);
  --wa-color-neutral: var(--wa-color-neutral-50);
  --wa-color-neutral-key: 50;
  --wa-color-neutral-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-neutral-key), 1) * 100%)
  );
  --wa-color-neutral-on: color-mix(
    in oklab,
    var(--wa-color-neutral-10) var(--wa-color-neutral-gte-60),
    white
  );
}

.stone-brand {
  --wa-color-brand-05: var(--color-stone-05);
  --wa-color-brand-10: var(--color-stone-10);
  --wa-color-brand-20: var(--color-stone-20);
  --wa-color-brand-30: var(--color-stone-30);
  --wa-color-brand-40: var(--color-stone-40);
  --wa-color-brand-50: var(--color-stone-50);
  --wa-color-brand-60: var(--color-stone-60);
  --wa-color-brand-70: var(--color-stone-70);
  --wa-color-brand-80: var(--color-stone-80);
  --wa-color-brand-90: var(--color-stone-90);
  --wa-color-brand-95: var(--color-stone-95);
  --wa-color-stone: var(--wa-color-stone-50);
  --wa-color-stone-key: 50;
  --wa-color-stone-gte-60: calc(
    100% - (clamp(0, 60 - var(--wa-color-stone-key), 1) * 100%)
  );
  --wa-color-stone-on: color-mix(
    in oklab,
    var(--wa-color-stone-10) var(--wa-color-stone-gte-60),
    white
  );
}
