{% extends "base.html" %}

{% block title %}Add Budget{% endblock title %}
{% block addbudget %}active{% endblock addbudget %}



{% block content %}

<section>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">
        
                        <form action="{{ url_for('home.add_budget') }}" method="POST">
                            <div class="mb-md-5">
            
                                <h2 class="card-title">Add Budget</h2>
                                <br>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="name">Budget Name</label>
                                    <input type="text" id="name" name="name" class="form-control" />
                                
                                </div>
                
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="amount">Starting Amount</label>
                                    <input type="text" id="amount" name="amount" class="form-control" />
                                
                                </div>
                
                                <button class="btn btn-outline-light px-5 mt-3" type="submit">Add Budget</button>
                
                            </div>
                        </form>
                        <label class="" for="existing_budgets"><h4>Existing Budgets</h4></label>

                        <ul name="existing_budgets" class="list-group" id="style-1" style="max-height: 200px;overflow-y: scroll;">
                            {% for budget in budgets %}
                                <li class="list-group-item" style="white-space: pre;">{{ str(budget) }}</li>
                            {% endfor %}
                        </ul>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}