{% extends "base.html" %}

{% block title %}Add Paycheck{% endblock title %}
{% block addtransaction %}active{% endblock addtransaction %}
{% block backButton %}<sl-button href="/" class="me-4" variant="primary" outline><sl-icon slot="prefix" name="caret-left"></sl-icon>Back</sl-button>{% endblock backButton %}


{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-8">
        <sl-card>
            <p class="card-title fs-2 mb-3">Add paycheck</p>
            <sl-divider></sl-divider>
            <form action="{{ url_for('home.paycheck') }}" method="POST">
                <div class="row mb-5">
                    <div class="col-sm nb-row mb-4">
                        <sl-input id="paycheckName" label="Paycheck Name" name="name" placeholder="I'm rich!" autocomplete="niklas" required></sl-input>
                        <sl-input id="paycheck_amount" label="Paycheck Amount" type="number" name="amount" placeholder="$0.00" autocomplete="niklas" required></sl-input>
                        <sl-input class="mw-160 w-50" label="Date" type="date" id="date" name="date" required></sl-input>
                        <sl-checkbox id="isPercentage" name="isPercentage" onclick="toggleBudgetBreakdown()">Use percentages for breakdown</sl-checkbox>
                        {% if showPrefills %}
                            <sl-button variant="primary" outline onclick="openPreviousPaycheckDialog()">Copy amounts from previous paycheck</sl-button>
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        <label class="" for="budget-amounts" style="margin-bottom: var(--sl-spacing-3x-small);">Budget amount breakdown</label>
                        <ul name="budget-amounts" class="list-group better-scroll border" style="max-height: 400px;overflow-y: scroll;">
                            {% for budget in budgets %}
                                <li class="list-group-ite all-budgets-li">
                                    <sl-card>
                                        <div class="row mb-1">
                                            <div class="col">{{ budget.name }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <sl-input type="number" step=".01" class="all-budgets" id="{{ budget.name }}{{ budget.id }}" name="{{ budget.name }}{{ budget.id }}" placeholder="$0.00" autocomplete="niklas">
                                            </div>
                                            <div class="col-4">
                                                <p class="display-none mt-2 mb-0" id="{{ budget.id }}_amount"></p>
                                            </div>
                                        </div>
                                    </sl-card>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row mb-2">
                    <sl-button id="paycheckBtn" class="w-100" type="submit" variant="primary" disabled>Add paycheck</sl-button>
                </div>
            </form>
        </sl-card>
    </div>
</div>


{% if showPrefills %}
    <sl-dialog label="Copy amounts from a previous paycheck">
        <div class="dialog-body">
            {% for i, lst in enumerate(prefills) %}
                <sl-details summary="Total Amount: {{ lst[0]|prettify_money }}">
                    <div class="accordio-body">
                        <table id="table{{ i }}" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Budget Name</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for budget in lst[1] %}
                                    <tr>
                                        <td>{{ budget[1] }}</td>
                                        <td id={{ budget[0] }}>{{ budget[2]|prettify_money }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-5 p-1">
                                <sl-button variant="danger" outline onclick="openDeletePrefillDialog('delete{{ lst[0] }}')" class="w-100">Delete</sl-button>
                            </div>
                            <div class="col-7 p-1">
                                <sl-button variant="primary" onclick="fillBudgetAmountsFromPrefill('table{{ i }}', {{ lst[0] }});" class=" w-100">Select this previous amount</sl-button>
                            </div>
                        </div>
                    </div>
                </sl-details>

                <sl-dialog id="delete{{ lst[0] }}" label="Are you sure you want to this prefill?">
                    Deleting this prefill with amount {{ lst[0] }} is irreverible.
                    <div class="row" slot="footer">
                        <sl-button class="w-50" variant="neutral" outline onclick="closeDeletePrefillDialog('delete{{ lst[0] }}')">Cancel</sl-button>
                        <sl-button class="w-50" variant="danger" onclick="sendDeletePrefillRequest(event, 'delete{{ lst[0] }}', '{{ lst[0] }}', '{{ url_for('home.delete_prefill', amount=lst[0]) }}')">Delete anyway</sl-button>
                    </div>
                </sl-dialog>
            {% endfor %}
        </div>
        <div slot="footer">
            <sl-divider></sl-divider>
            <sl-button class="w-100" variant="neutral" outline onclick="closePreviousPaycheckDialog()">Cancel</sl-button>
        </div>
    </sl-dialog>
{% endif %}

<script src="/static/js/setdate.js"></script>
<script src="/static/js/addpaycheckHelpers.js"></script>

{% endblock content %}
