{% extends "base.html" %} {% block title %}Add Paycheck{% endblock title %} {%
block addtransaction %}active{% endblock addtransaction %} {% block backButton
%}<wa-button href="/" id="back-button" variant="brand" appearance="outlined">
  <wa-icon library="ion" name="chevron-back-outline"></wa-icon> Back</wa-button
>{% endblock backButton %} {% block content %}

<nb-add-paycheck
  class="main-card"
  budgets='{{ budgets|tojson }}'
  paychecks='{{ paychecks|tojson }}'
></nb-add-paycheck>

{% endblock content %}
