{% extends "base.html" %}

{% block title %}Add Transaction{% endblock title %}
{% block addtransaction %}w3-text-blue{% endblock addtransaction %}



{% block content %}

<script>
    function openTab(tabName, tabButton) {
        var i;
        var tabs = document.getElementsByClassName("tab");
        for (i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
        }
        var tabbuttons = document.getElementsByClassName("tabbutton");
        for (i = 0; i < tabbuttons.length; i++) {
            tabbuttons[i].className = tabbuttons[i].className.replace(" w3-light-grey", "");
        }
        document.getElementById(tabName).style.display = "block";
        document.getElementById(tabButton).className += " w3-light-grey";
    }

    function checkPaycheck(e) {
        // console.log(document.getElementById('paycheck_amount').value);
        var submitBtn = document.getElementById('paycheckBtn');
        submitBtn.disabled = true;


        var name = document.getElementById('paycheckName').value;
        console.log(name);
        var total = document.getElementById('paycheck_amount').value;
        if (name !== null && name !== '' && total !== null && total != 0) {
            var budgets = document.getElementsByClassName('all-budgets');
            var b_total = 0;
            for (var i = 0; i < budgets.length; i++) {
                b_total += Number(budgets[i].value);
            }
            console.log(total);
            console.log(b_total);

            if (b_total == total) {
                var submitBtn = document.getElementById('paycheckBtn');
                submitBtn.disabled = false;
                var name = document.getElementById('paycheckName');
                // name.className.replace(' w3-border-red', '');
                if (name.classList.contains("w3-border-red")) {
                    name.classList.remove("w3-border-red");

                }
            }
            else {
                var submitBtn = document.getElementById('paycheckBtn');
                submitBtn.disabled = true;
            }
        }
        else if (name === null || name === '') {
            // show error
            var name = document.getElementById('paycheckName');
            name.classList.add('w3-border-red');
        }
    }

</script>
    <div class="w3-cell-row w3-padding-32">
        <div class="w3-container">
            <br><br><br><br>
            <h1>Add Transaction</h1>
        </div>
        
    </div>

    <!-- TODO: Look at decode page for form format width/scaling -->

    <div class="w3-cell-row w3-mobile w3-margin-bottom" style="height: 100%;">
        <div class="w3-cell" style="width:20%"></div>
        <div class="w3-cell w3-mobile w3-margin-top w3-margin-bottom">
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="w3-panel {{ category }} w3-display-container w3-border">
                                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <h3>{{ message }}</h3>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            <div class="w3-bar w3-dark-grey w3-round-small">
                <button id="tab1" class="w3-round-small w3-bar-item w3-button tabbutton w3-light-grey" onclick="openTab('paycheck', 'tab1')">Add Paycheck</button>
                <button id="tab2" class="w3-round-small w3-bar-item w3-button tabbutton" onclick="openTab('budg', 'tab2')">Add/Subtract From Budget</button>
                <button id="tab3" class="w3-round-small w3-bar-item w3-button tabbutton" onclick="openTab('btob', 'tab3')">Budget to Budget</button>
            </div>

            <div id="paycheck" class="tab ">
                <form class="w3-container w3-margin-bottom w3-light-grey w3-round-small" action="{{ url_for('home.paycheck') }}" method="POST">
                    
                    <div class="w3-cell-row w3-margin">
                        <div class="w3-cell w3-left" style="width:95%">
                            <label class="" for="name"><h4 style="text-align: left;">Paycheck Name</h4></label>
                            <input class="validatePaycheck w3-input w3-border w3-animate-input" type="text" id="paycheckName" name="name" placeholder="Transaction Name" style="width:100%" required>

                            <label class="" for="name"><h4 style="text-align: left;">Paycheck Amount</h4></label>
                            <input class="validatePaycheck w3-input w3-border" style="width:40%" type="text" id="paycheck_amount" name="amount" placeholder="Paycheck Amount" style="width:100%" required>
                        </div>
                        <div class="w3-cell" style="width:50%">
                            <label class="w3-center" for="existing_courses"><h4>Existing Budgets</h4></label>
                            <ul name="existing_courses" class="max_height w3-ul w3-border w3-margin w3-center w3-round-small">
                                {% for budget in budgets %}
                                    <li><div style="height: 40px;" class="">{{ budget.name }} <input class="validatePaycheck all-budgets w3-right w3-input w3-border" style="width:30%" type="text" id="{{ budget.name }}{{ budget.id }}" name="{{ budget.name }}{{ budget.id }}" placeholder="0" required></div></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <input id="paycheckBtn" class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding w3-center" type="submit" style="width: 50%" value="Add Transaction" disabled>
                </form>
            </div>
            
            <div id="budg" class="tab" style="display:none">
                <form class="w3-container w3-margin-bottom w3-light-grey w3-round-small" action="{{ url_for('home.budget_transaction') }}" method="POST">
                    <div class="w3-cell-row w3-margin">
                        <div class="w3-cell w3-left" style="width:95%">
                            <label class="" for="name"><h4 style="text-align: left;">Transaction Name</h4></label>
                            <input class="w3-input w3-border w3-animate-input" type="text" id="name" name="name" placeholder="Transaction Name" style="width:100%" required>

                            <label class="" for="name"><h4 style="text-align: left;">Amount</h4></label>
                            <input class="w3-input w3-border" type="text" id="amount" name="amount" placeholder="Amount" style="width:50%" required>

                            <label for="budget"><h4 style="text-align: left;">Choose a budget</h4></label>
                            <select class="w3-input w3-border w3-round-small" name="budget" id="budget" style="width:50%" required>
                                {% for budget in budgets %}
                                    <option class="w3-input w3-border" value="{{ budget.id }}">{{ budget.name }} | {{ budget.total }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding w3-center" type="submit" style="width: 50%" value="Add Transaction">
                    <br>
                </form>
            </div>
            
            <div id="btob" class="tab" style="display:none">
                <form class="w3-container w3-margin-bottom w3-light-grey w3-round-small" action="{{ url_for('home.budget_to_budget') }}" method="POST">
                    <div class="w3-cell-row w3-margin">
                        <div class="w3-cell w3-left" style="width:95%">
                            <label class="" for="name"><h4 style="text-align: left;">Transaction Name</h4></label>
                            <input class="w3-input w3-border w3-animate-input" type="text" id="name" name="name" placeholder="Transaction Name" style="width:100%" required>

                            <label class="" for="name"><h4 style="text-align: left;">Amount</h4></label>
                            <input class="w3-input w3-border" type="text" id="amount" name="amount" placeholder="Amount" style="width:50%" required>
                        </div>
                        <!-- <br><br><br><br><br><br> -->
                        
                    </div>
                    <div class="w3-cell-row w3-margin">
                        <div class="w3-cell w3-left" style="width:95%">

                            <label for="source_budget"><h4 style="text-align: left;">Source budget</h4></label>
                            <select class="w3-input w3-border" name="source_budget" id="source_budget" style="width:50%" required>
                                {% for budget in budgets %}
                                    <option class="w3-input w3-border" value="{{ budget.id }}">{{ budget.name }} | {{ budget.total }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="w3-cell" style="width:50%">
                            <label for="dest_budget"><h4 style="text-align: left;">Destination budget</h4></label>
                            <select class="w3-input w3-border" name="dest_budget" id="dest_budget" style="width:50%" required>
                                {% for budget in budgets %}
                                    <option class="w3-input w3-border" value="{{ budget.id }}">{{ budget.name }} | {{ budget.total }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding w3-center" type="submit" style="width: 50%" value="Add Transaction">
                </form>
            </div>

            <br><br><br><br><br>
        </div>
        <div class="w3-cell" style="width:20%"></div>

    </div>

    <script>
        document.getElementById("paycheckName").addEventListener("keyup", checkPaycheck);
        document.getElementById("paycheck_amount").addEventListener("keyup", checkPaycheck);

        {% for budget in budgets %}
            document.getElementById("{{ budget.name }}{{ budget.id }}").addEventListener("keyup", checkPaycheck);
        {% endfor %}
    </script>

{% endblock content %}s