{% extends "base.html" %}

{% block title %}Add Transaction{% endblock title %}
{% block addtransaction %}active{% endblock addtransaction %}
{% block backButton %}<a href="/" class="btn btn-outline-primary me-5"> &#8249; Back</a>{% endblock backButton %}



{% block content %}

<script>

    function delete_prefill(id) {
        document.getElementById(id).style.display = 'block';
    }

    function fillvalues(id, totalAmount) {
        document.getElementById('previousPaycheckModal').style.display='none';

        var table = document.getElementById(id);
        var list = [];
        for (var r = 1; r < table.rows.length - 1; r++) {
            var name = table.rows[r].cells[0].innerHTML;
            var id = table.rows[r].cells[1].id;
            var amount = table.rows[r].cells[1].innerHTML;
            var temp = [name + id, amount];
            list[list.length] = temp;
        }
        
        document.getElementById('paycheck_amount').value = totalAmount;

        for (var i = 0; i < list.length; i++) {
            var input = document.getElementById(list[i][0]);
            // console.log(input);
            input.value = list[i][1];
        }
        checkPaycheck();
    }

    function openPreviousPaycheckModal() {
        document.getElementById('previousPaycheckModal').style.display = 'block';
    }


    function openTab(tabName, tabButton) {
        var i;
        var tabs = document.getElementsByClassName("tab");
        for (i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
        }
        var tabbuttons = document.getElementsByClassName("tabbutton");
        for (i = 0; i < tabbuttons.length; i++) {
            tabbuttons[i].className = tabbuttons[i].className.replace(" text-white", "");
        }
        document.getElementById(tabButton).className += " text-white";
        document.getElementById(tabName).style.display = 'block';
    }


    function checkPaycheck(e) {
        var amountValid = false;
        var nameValid = false;
        var submitBtn = document.getElementById('paycheckBtn');
        submitBtn.disabled = true;

        var name = document.getElementById('paycheckName').value;
        console.log(name);
        var total = document.getElementById('paycheck_amount').value;
        console.log(total);
        // prefillBudgets(total);
        if (total !== null) {
            var budgets = document.getElementsByClassName('all-budgets');
            var b_total = 0;
            for (var i = 0; i < budgets.length; i++) {
                b_total += Number(budgets[i].value);
            }
            total = total.toFixed(2);
            b_total = b_total.toFixed(2);
            console.log(total);
            console.log(b_total);

            if (b_total == total) {
                submitBtn.disabled = false;
                var total_error = document.getElementById('amount_error');
                total_error.hidden = true;
                amountValid = true;
            }
            else {
                console.log('here');
                submitBtn.disabled = true;
                var total_error = document.getElementById('amount_error');
                total_error.innerHTML = `Paycheck Amount(${total}) does not equal total on the right(${b_total}).`;
                total_error.hidden = false;
            }
        }
        if (name === null || name === '') {
            // show error
            console.log('here');
            submitBtn.disabled = true;
            var name_error = document.getElementById('name_error');
            name_error.hidden = false;
        }
        else {
            var name_error = document.getElementById('name_error');
            name_error.hidden = true;
            nameValid = true;
        }

        if (nameValid && amountValid) {
            submitBtn.disabled = false;
        }
    }

</script>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm col-md col-lg col-xl">
            <div class="card bg-dark text-white" style="">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs bg-dark">
                        <li class="nav-item">
                            <a id="tab1" class="nav-link tabbutton bg-dark text-white fs-4" aria-current="page"  onclick="openTab('paycheck', 'tab1')">Add Paycheck</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a id="tab2" class="nav-link tabbutton bg-dark"  onclick="openTab('budg', 'tab2')">Add/Subtract From Budget</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab3" class="nav-link tabbutton bg-dark"  onclick="openTab('btob', 'tab3')">Budget to Budget</a>
                        </li> -->
                    </ul>
                </div>
                <div id="input-card" class="card-body p-5">
                    <div id="paycheck" class="tab">
                        <form action="{{ url_for('home.paycheck') }}" method="POST">
        
                            <div class="row">
                                <div class="col-sm ">
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="name">Paycheck Name</label>
                                        <input class="validatePaycheck form-control" type="text" id="paycheckName" name="name" placeholder="Transaction Name" required>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="amount">Paycheck Amount</label>
                                        <input class="validatePaycheck form-control" type="text" id="paycheck_amount" name="amount" placeholder="Paycheck Amount" required>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="amount">Date</label>
                                        <input class="form-control" type="date" id="date" name="date" required>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <!-- <label class="form-label" for="amount"><h4>Paycheck Amount</h4></label>
                                        <input class="validatePaycheck form-control" type="text" id="paycheck_amount" name="amount" placeholder="Paycheck Amount" required> -->
                                        {% if showPrefills %}
                                            <button type="button" class="btn btn-outline-primary text-wrap" onclick="openPreviousPaycheckModal()">Copy amounts from previous paycheck</button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm ">
                                    <label class="form-label" for="existing_courses">Existing Budgets</label>
                                    <ul name="existing_courses" class="list-group " id="style-1" style="max-height: 349px;overflow-y: scroll;">
                                        {% for budget in budgets %}
                                            <li class="list-group-item">
                                                <label class="form-label" for="{{ budget.name }}{{ budget.id }}">{{ budget.name }}</label>
                                                <input class="validatePaycheck all-budgets form-control" type="text" id="{{ budget.name }}{{ budget.id }}" name="{{ budget.name }}{{ budget.id }}" placeholder="0">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
        
        
                            </div>
                            <div class="row">
                                <div class="col-sm mt-5">
                                    <span id="name_error" class="text-danger" hidden>Paycheck Name is invalid</span><br>
                                    <span id="amount_error" class="text-danger" hidden></span><br>
                                    <input id="paycheckBtn" class="btn btn-primary " type="submit" value="Add Transaction" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div id="budg" class="tab" style="display:none">
                        <form action="{{ url_for('home.budget_transaction') }}" method="POST">
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="name"><h4>Transaction Name</h4></label>
                                <input class="form-control w-75" type="text" id="name" name="name" placeholder="Transaction Name"  required>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="name"><h4>Amount</h4></label>
                                <input class="form-control w-75" type="text" id="amount" name="amount" placeholder="Amount"  required>
                            </div>
                            

                            <div class="form-outline form-white mb-4">
                                <label for="budget"><h4>Choose a budget</h4></label>
                                <select class="form-select w-75" name="budget" id="budget" required>
                                    {% for budget in budgets %}
                                        <option class="" value="{{ budget.id }}">{{ str(budget) }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            

                            <div class="form-outline form-white pt-4">
                                <input class="btn btn-primary" type="submit" value="Add Transaction">

                            </div>
                        </form>
                    </div> -->
                    <!-- <div id="btob" class="tab" style="display:none">
                        <form action="{{ url_for('home.budget_to_budget') }}" method="POST">
                            <div class="row">
                                <div class="col-sm ">
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="name"><h4>Transaction Name</h4></label>
                                        <input class="form-control w-75" type="text" id="name" name="name" placeholder="Transaction Name" required>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="name"><h4>Amount</h4></label>
                                        <input class="form-control w-75" type="text" id="amount" name="amount" placeholder="Amount" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm ">
                                    <div class="form-outline form-white mb-4">
                                        <label for="source_budget"><h4>Source budget</h4></label>
                                        <select class="form-select" name="source_budget" id="source_budget"  required>
                                            {% for budget in budgets %}
                                                <option value="{{ budget.id }}">{{ str(budget) }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="col-sm ">
                                    <div class="form-outline form-white mb-4">
                                        <label for="dest_budget"><h4>Destination budget</h4></label>
                                        <select class="form-select" name="dest_budget" id="dest_budget" required>
                                            {% for budget in budgets %}
                                                <option class="" value="{{ budget.id }}">{{ str(budget) }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="form-outline form-white pt-4">
                                <input class="btn btn-primary" type="submit" value="Add Transaction">

                            </div>
                        </form>
                    </div> -->
                </div>
                
            </div>
        </div>
    </div>
</div>


{% if showPrefills %}
    <div id="previousPaycheckModal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Copy Previous Paycheck Amounts ?</h5>
                    <button onclick="document.getElementById('previousPaycheckModal').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="accordionExample">
                        {% for i, (k, v) in enumerate(prefills.items()) %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ i }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ i }}" aria-expanded="true" aria-controls="collapse{{ i }}">
                                        Total Amount: {{ k }}
                                    </button>
                                </h2>
                                <div id="collapse{{ i }}" class="accordion-collapse collapse" aria-labelledby="heading{{ i }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table id="table{{ i }}" class="table table-secondary">
                                            <thead>
                                                <tr class="table-secondary">
                                                    <th scope="col">Budget Name</th>
                                                    <th scope="col">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for budget in v %}
                                                    <tr class="table-secondary">
                                                        <td>{{ budget[1] }}</td>
                                                        <td id={{ budget[0] }}>{{ budget[2] }}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                            </tbody>
                                        </table>
                                        <div class="row justify-content-between">
                                            <div class="col-auto me-auto">
                                                <button onclick="fillvalues('table{{ i }}', {{ k }});" class="btn btn-primary">Select this previous amount</button>
                                            </div>
                                            <div class="col-auto ">
                                                <button onclick="delete_prefill('delete{{ k }}')" class="btn btn-outline-danger">Delete</button>
                                            </div>
                                        </div>
                                        <!-- <button onclick="fillvalues('table{{ i }}', {{ k }});" class="btn btn-primary">Select this previous amount</button>
                                        <button onclick="fillvalues('table{{ i }}', {{ k }});" class="btn btn-outline-danger">Delete</button> -->
                                    </div>
                                </div>
                            </div>

                            <div id="delete{{ k }}" class="modal" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="POST" action="{{ url_for('home.delete_prefill', amount=k) }}">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete prefill amount {{ k }} ?</h5>
                                                <button onclick="document.getElementById('delete{{ k }}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this prefill?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_button" class="btn btn-danger">Delete</button>
                                                <button onclick="document.getElementById('delete{{ k }}').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                            </div>
                        
                                        </form>
                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                        <button onclick="document.getElementById('previousPaycheckModal').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}

            
            

    <script>
        document.getElementById("paycheckName").addEventListener("input", checkPaycheck);
        document.getElementById("paycheck_amount").addEventListener("input", checkPaycheck);

        {% for budget in budgets %}
            document.getElementById("{{ budget.name }}{{ budget.id }}").addEventListener("input", checkPaycheck);
        {% endfor %}

        var date = new Date();
        var ele = document.getElementById('date');
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        var strDate = year + '-' + month + '-' + day;
        ele.valueAsDate = date;
        ele.value = strDate;
    </script>

{% endblock content %}
