<!DOCTYPE html>
<html lang="en" class="wa-{{ theme.mode }} wa-cloak">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      if (window.location.host === "nbfinapp.up.railway.app") {
        window.location.assign("https://budgets.niklasb.com");
      }
    </script>

    <link rel="manifest" href="/static/manifest.webmanifest" />

    <link rel="stylesheet" href="/static/css/bundle.min.css" />
    <link id="theme" rel="stylesheet" href="" />
    <link id="palette" rel="stylesheet" href="" />

    <link rel="icon" type="image/png" href="/static/images/logo.svg" />

    <link rel="preconnect" href="https://ka-f.fontawesome.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />

    <title>{% block title %}{% endblock title %}</title>
    <script>
        // URLs for setting the theme options
        const SET_THEME_URL = "{{ url_for('theme_bp.set_theme') }}";
        const SET_THEME_MODE_URL = "{{ url_for('theme_bp.set_theme_mode') }}";
        const SET_PRIMARY_COLOR_URL =
          "{{ url_for('theme_bp.set_primary_color') }}";
        const SET_BACKGROUND_COLOR_URL =
          "{{ url_for('theme_bp.set_background_color') }}";
        const SET_COLOR_PALETTE_URL =
          "{{ url_for('theme_bp.set_color_palette') }}";

        // URLs for categories
        const CREATE_CATEGORY_URL =
          "{{ url_for('category_bp.create_category') }}";
        const GET_CATEGORIES_URL = "{{ url_for('category_bp.get_categories') }}";

        // URLs for user auth and user edits
        const LOGIN_URL = "{{ url_for('auth_bp.login') }}";
        const SIGNUP_URL = "{{ url_for('auth_bp.signup') }}";
        const PASSWORD_RESET_REQUEST_URL =
          "{{ url_for('auth_bp.password_request') }}";
        const USERNAME_UNIQUE_URL = "{{ url_for('auth_bp.username_unique') }}";
        const EMAIL_UNIQUE_URL = "{{ url_for('auth_bp.email_unique') }}";

        // URL for adding paycheck
        const ADD_PAYCHECK_URL = "{{ url_for('paycheck_bp.paycheck') }}";

        // URL for transfering
        const TRANSFER_URL = "{{ url_for('transfer_bp.transfer') }}";

        // URL for adding new budget
        const ADD_NEW_BUDGET_URL = "{{ url_for('editbudget_bp.add_budget') }}";

        {% if current_user.is_authenticated %}
          const CURRENT_USER = {{ current_user.to_dict()|tojson }};
        {% else %}
          const CURRENT_USER = {};
        {% endif %}

        const [month, day, year] = new Date()
        .toLocaleDateString(undefined, {
          year: "numeric",
          day: "2-digit",
          month: "2-digit",
        })
        .split("/");

      const CURRENT_DATE = `${year}-${month}-${day}`;
    </script>

    <script type="module">
      import { Theme, THEME_LIST, COLOR_PALETTE_LIST } from "/static/js/theme.mjs";

      window.THEME = new Theme({{ theme|tojson }});
      let storedTheme = window.localStorage.getItem("theme");
      if (storedTheme === "dark" || storedTheme === "light") {
        window.THEME.migrateTheme(storedTheme);
      }
      console.log(window.THEME);
    </script>
    <script src="/static/js/nb-back-button.mjs" type="module"></script>
    <script src="/static/js/nb-alert.mjs" type="module"></script>
    <script src="/static/js/nb-theme-selector.mjs" type="module"></script>
    <script src="/static/js/nb-category-modal.mjs" type="module"></script>
    <script src="/static/js/main.bundle.mjs" type="module"></script>

    {% block head %}{% endblock head %}

    <script
      src="https://js.sentry-cdn.com/85a281a7156d9e667f62a479c3277fce.min.js"
      crossorigin="anonymous"
      defer
    >
      if (window.Sentry) {
        Sentry.onLoad(function () {
          Sentry.init({
            release: "nb-budgets@2.0.5",
            environment: "production",
            integrations: [
              Sentry.browserTracingIntegration(),
            ],
            tracesSampleRate: 1.0,
            sendDefaultPii: true,
          });
        });
      }
    </script>
  </head>

  <body class="@container">
    <wa-page mobile-breakpoint="1024">
      <header slot="header" class="flex justify-center">
        <div class="container max-w-[80rem]">
          <div class="wa-split">
            <div class="wa-cluster">
              {% block backButton %}{% endblock backButton %}
              <a class="wa-heading-l" href="/">NB Budgets</a>
              <a
                class="wa-desktop-only wa-heading-m"
                href="{{ url_for('viewbudgets_bp.viewbudgets') }}"
                >Budgets</a
              >
              <a
                class="wa-desktop-only wa-heading-m"
                href="{{ url_for('paycheck_bp.add_paycheck') }}"
                >Add Paycheck</a
              >
              <a
                class="wa-desktop-only wa-heading-m"
                href="{{ url_for('transfer_bp.transfer') }}"
                >Transfer</a
              >
              <a
                class="wa-desktop-only wa-heading-m"
                href="{{ url_for('dashboard_bp.dashboard') }}"
                >Dashboard</a
              >
            </div>

            <div class="wa-cluster">
              <div class="wa-cluster wa-desktop-only">
                <nb-theme-selector></nb-theme-selector>
                {% if current_user.is_authenticated %}
                <wa-dropdown placement="bottom-end"
                  ><wa-button
                    id="user-button"
                    appearance="plain"
                    slot="trigger"
                    with-caret
                    ><wa-icon
                      slot="start"
                      name="person-circle-outline"
                      library="ion"
                    ></wa-icon
                    >{{ current_user.username }}</wa-button
                  >
                  <wa-dropdown-item
                    ><a href="{{ url_for('simplefin_bp.simplefin') }}"
                      >External Accounts</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('preferences_bp.preferences') }}"
                      >Preferences</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('profile_bp.profile') }}"
                      >Profile</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('auth_bp.logout') }}"
                      >Logout</a
                    ></wa-dropdown-item
                  >
                </wa-dropdown>
                {% else %}
                <a href="{{ url_for('auth_bp.login') }}">Login</a>
                {% endif %}
              </div>

              <wa-button data-toggle-nav appearance="plain"
                ><wa-icon
                  library="ion"
                  name="menu-outline"
                  label="Menu"
                ></wa-icon
              ></wa-button>
            </div>
          </div>
        </div>
      </header>
      <nav slot="navigation" class="wa-mobile-only">
        <a class="wa-heading-l" href="/">NB Budgets</a>
        <a
          class="wa-heading-m"
          href="{{ url_for('viewbudgets_bp.viewbudgets') }}"
          >Budgets</a
        >
        <a class="wa-heading-m" href="{{ url_for('paycheck_bp.add_paycheck') }}"
          >Add Paycheck</a
        >
        <a class="wa-heading-m" href="{{ url_for('transfer_bp.transfer') }}"
          >Transfer</a
        >
        <a class="wa-heading-m" href="{{ url_for('dashboard_bp.dashboard') }}"
          >Dashboard</a
        >

        <nb-theme-selector></nb-theme-selector>
        {% if current_user.is_authenticated %}
        <div>
          <wa-dropdown placement="bottom-end"
            ><wa-button
              id="user-button"
              appearance="plain"
              slot="trigger"
              with-caret
              >{{ current_user.username }}</wa-button
            >
            <wa-dropdown-item
              ><a href="{{ url_for('simplefin_bp.simplefin') }}"
                >External Accounts</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a href="{{ url_for('preferences_bp.preferences') }}"
                >Preferences</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a href="{{ url_for('profile_bp.profile') }}"
                >Profile</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a href="{{ url_for('auth_bp.logout') }}"
                >Logout</a
              ></wa-dropdown-item
            >
          </wa-dropdown>
        </div>
        {% else %}
        <a href="{{ url_for('auth_bp.login') }}">Login</a>
        {% endif %}
      </nav>

      <main class="wa-stack wa-align-items-center">
        <div id="content" class="container max-w-[80rem]">
          {% block content %}{% endblock content %}
        </div>
      </main></wa-page
    >

    <nb-category-modal></nb-category-modal>

    <div class="">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <div id="alerts" class="">
        {% if messages %} {% for category, message in messages %}
        <nb-alert category="{{ category }}" message="{{ message }}"></nb-alert>
        {% endfor %} {% endif %}
      </div>
      {% endwith %}
    </div>
  </body>
</html>
