<!doctype html>
<html
  lang="en"
  class="wa-cloak wa-{{ user_settings.settings.mode }} wa-palette-{{ user_settings.settings.color_palette }}"
  style="{% if user_settings.settings.rounding %}--wa-border-radius-scale:{{user_settings.settings.rounding}};{% endif %}{% if user_settings.settings.spacing %}--wa-space-scale:{{user_settings.settings.spacing}};{% endif %}{% if user_settings.settings.border_width %}--wa-border-width-scale:{{user_settings.settings.border_width}};{% endif %}"
>
  <head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@latest/dist/turbo.es2017-esm.min.js"
    ></script>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/static/manifest.webmanifest" />

    <link rel="icon" type="image/png" href="/static/images/logo.svg" />

    <link rel="preconnect" href="https://ka-f.fontawesome.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />

    <title>{% block title %}{% endblock title %}</title>

    {% include "includes.html" %}

    <script>
      // URL for updating user settings
      const UPDATE_USER_SETTINGS =
        "{{ url_for('user_settings_bp.update_settings') }}";

      // URLs for user auth and user edits
      const LOGIN_URL = "{{ url_for('auth_bp.login') }}";
      const SIGNUP_URL = "{{ url_for('auth_bp.signup') }}";
      const PASSWORD_RESET_REQUEST_URL =
        "{{ url_for('auth_bp.password_request') }}";
      const USERNAME_UNIQUE_URL = "{{ url_for('auth_bp.username_unique') }}";
      const EMAIL_UNIQUE_URL = "{{ url_for('auth_bp.email_unique') }}";
      const PROFILE_URL = "{{ url_for('profile_bp.profile') }}";

      // URL for adding paycheck
      const ADD_PAYCHECK_URL = "{{ url_for('paycheck_bp.paycheck') }}";

      // URL for transfering
      const TRANSFER_URL = "{{ url_for('transfer_bp.transfer') }}";

      // URL for adding new budget
      const ADD_NEW_BUDGET_URL = "{{ url_for('editbudget_bp.add_budget') }}";

      {% if current_user.is_authenticated %}
        const CURRENT_USER = {{ current_user.to_dict()|tojson }};
      {% else %}
        const CURRENT_USER = {};
      {% endif %}

      const [month, day, year] = new Date()
      .toLocaleDateString(undefined, {
        year: "numeric",
        day: "2-digit",
        month: "2-digit",
      })
      .split("/");

      const CURRENT_DATE = `${year}-${month}-${day}`;

      customElements.whenDefined("wa-page").then(() => {
        document.documentElement.classList.remove("wa-cloak");
      });
    </script>

    {% block head %}{% endblock head %}
  </head>

  <body class="@container">
    <wa-page mobile-breakpoint="1024">
      <header slot="header" class="flex justify-center">
        <div class="container max-w-[80rem]">
          <div class="wa-split">
            <div class="wa-cluster">
              {% block backButton %}{% endblock backButton %}
              <a class="wa-heading-xl" href="/">NB Budgets</a>
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('viewbudgets_bp.viewbudgets') }}"
                >Budgets</a
              >
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('paycheck_bp.add_paycheck') }}"
                >Add Paycheck</a
              >
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('transfer_bp.transfer') }}"
                >Transfer</a
              >
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('dashboard_bp.dashboard') }}"
                >Dashboard</a
              >
            </div>

            <div class="wa-cluster">
              <div class="wa-cluster wa-desktop-only">
                <nb-theme-selector></nb-theme-selector>
                {% if current_user.is_authenticated %}
                <wa-dropdown placement="bottom-end"
                  ><wa-button
                    id="user-button"
                    appearance="plain"
                    slot="trigger"
                    with-caret
                    ><wa-icon
                      slot="start"
                      name="person-circle-outline"
                      library="ion"
                    ></wa-icon
                    >{{ current_user.username }}</wa-button
                  >
                  <wa-dropdown-item
                    ><a href="{{ url_for('simplefin_bp.simplefin') }}"
                      >External Accounts</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('preferences_bp.preferences') }}"
                      >Preferences</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('profile_bp.profile') }}"
                      >Profile</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('auth_bp.logout') }}"
                      >Logout</a
                    ></wa-dropdown-item
                  >
                </wa-dropdown>
                {% else %}
                <a href="{{ url_for('auth_bp.login') }}">Login</a>
                {% endif %}
              </div>

              <wa-button data-toggle-nav appearance="plain"
                ><wa-icon
                  library="ion"
                  name="menu-outline"
                  label="Menu"
                ></wa-icon
              ></wa-button>
            </div>
          </div>
        </div>
      </header>
      <nav slot="navigation" class="wa-mobile-only">
        <a class="wa-heading-xl" href="/">NB Budgets</a>
        <a
          class="wa-heading-l"
          href="{{ url_for('viewbudgets_bp.viewbudgets') }}"
          >Budgets</a
        >
        <a class="wa-heading-l" href="{{ url_for('paycheck_bp.add_paycheck') }}"
          >Add Paycheck</a
        >
        <a class="wa-heading-l" href="{{ url_for('transfer_bp.transfer') }}"
          >Transfer</a
        >
        <a class="wa-heading-l" href="{{ url_for('dashboard_bp.dashboard') }}"
          >Dashboard</a
        >

        <nb-theme-selector></nb-theme-selector>
        {% if current_user.is_authenticated %}
        <div>
          <wa-dropdown placement="bottom-end"
            ><wa-button
              id="user-button"
              appearance="plain"
              slot="trigger"
              with-caret
              >{{ current_user.username }}</wa-button
            >
            <wa-dropdown-item
              ><a href="{{ url_for('simplefin_bp.simplefin') }}"
                >External Accounts</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a href="{{ url_for('preferences_bp.preferences') }}"
                >Preferences</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a href="{{ url_for('profile_bp.profile') }}"
                >Profile</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a href="{{ url_for('auth_bp.logout') }}"
                >Logout</a
              ></wa-dropdown-item
            >
          </wa-dropdown>
        </div>
        {% else %}
        <a href="{{ url_for('auth_bp.login') }}">Login</a>
        {% endif %}
      </nav>

      <main class="wa-stack wa-align-items-center">
        <div id="content" class="container max-w-[80rem]">
          {% block content %}{% endblock content %}
        </div>
      </main></wa-page
    >

    <nb-category-modal></nb-category-modal>

    <nb-alert-manager
      messages="{{ get_flashed_messages(with_categories=true) }}"
    ></nb-alert-manager>
  </body>
</html>
