{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}
{% block dashboard %}active{% endblock dashboard %}

{% block backButton %}<a href="/" class="btn btn-outline-primary me-5"> &#8249; Back</a>{% endblock backButton %}



{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js" integrity="sha512-CWVDkca3f3uAWgDNVzW+W4XJbiC3CH84P2aWZXj+DqI6PNbTzXbl1dIzEHeNJpYSn4B6U8miSZb/hCws7FnUZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/helpers.esm.min.js" integrity="sha512-1b6IKdJzKvjUfXuATUJs0a4ti8sBZHY0DKZ1O1UCj3cpw+IEKxUwG2UtXNOjS5/JkqxQ2v5GUMFn62mtZyXAfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/helpers/helpers.js"></script> -->

<script>
    const BUDGET_URLS = {};
    {% for budget in budgets %}
        BUDGET_URLS["{{ budget.name }}"] = "{{ url_for('home.view_budget', id=budget.id) }}";
    {% endfor %}

    function getData(url) {
        return new Promise(function(resolve, reject) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", url ); // false for synchronous request
            xmlHttp.onload = () => {
                resolve(xmlHttp.response);
            };
            xmlHttp.send( null );
            // return JSON.parse(xmlHttp.response);
            
        })
        // var xmlHttp = new XMLHttpRequest();
        // xmlHttp.open( "GET", url, false ); // false for synchronous request
        // xmlHttp.send( null );
        // return JSON.parse(xmlHttp.response);
    }
    async function getPieData() {
        let result = await getData("{{ url_for('home.get_pie_data') }}");
        return JSON.parse(result);
    }
    async function getAllBudgetsLineData(daysBack='') {
        let date = new Date();
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let strDate = year + '-' + month + '-' + day;
        let result = await getData("{{ url_for('home.get_all_budgets_line_data') }}" + "?currentDate=" + strDate + "&daysBack=" + daysBack);
        return JSON.parse(result);
    }
    async function getNetSpending(daysBack=30) {
        let date = new Date();
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let strDate = year + '-' + month + '-' + day;
        let result = await getData("{{ url_for('home.get_net_spending') }}" + "?currentDate=" + strDate + "&daysBack=" + daysBack);
        return JSON.parse(result);
    }
</script>

<div class="container py-5 h-100">
    <div class="row h-100 py-12">
        <div class="card bg-dark p-5">
            <div>
                <p class="text-white fs-2">Check the budgets you want to view</p>
                <!-- <div class="text-end">
                    <select id="budgetWorthDays" class="form-select w-15 inline bg-light-grey" aria-label="Default select example">
                        <option value="7">7 days</option>
                        <option value="30">30 days</option>
                        <option value="60">60 days</option>
                        <option value="90">90 days</option>
                        <option value="" selected>All time</option>
                    </select>
                </div> -->
                <div id="lineButtons" class="btn-group my-3" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="allBudgets" checked>
                    <label id="allBudgetsLabel" class="btn btn-outline-light" for="allBudgets">All Budgets</label>
                </div>
                <div class="text-end">
                    <button class="btn btn-outline-primary" onclick="reAssignColors()">Randomize colors</button>
                </div>
            </div>
            <div class="card-body">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>

    <div class="row h-100">
        <div class="col mt-5 py-0 mr-24">
            <div id="pie-chart-div" class="card bg-dark p-5">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
        <div class="col mt-5 py-0 ml-24">
            <div id="" class="card bg-dark p-5">
                <!-- <canvas id="pieChart"></canvas> -->
                <p class="text-white fs-1">More coming soon...</p>
            </div>
        </div>
    </div>

    <div class="row py-5">
        <div class="col">
            <div class="card bg-dark">
                <div class="card-header">
                    <p class="fs-1 text-white">Spending in the last 
                        <select id="spendingDays" class="form-select w-15 inline form-select-lg bg-light-grey" aria-label="Default select example">
                            <option value="7">7 days</option>
                            <option value="30" selected>30 days</option>
                            <option value="60">60 days</option>
                            <option value="90">90 days</option>
                            <option value="">All time</option>
                        </select>
                    </p>
                </div>
                <div class="m-5" id="net-spending">
                </div>
            </div>
        </div>

    </div>
<script src="/static/js/dashboard.js"></script>
<script>
    document.getElementById('spendingDays').addEventListener('change', (event) => {
        let sel = event.target;
        // ele.selected = true;
        // console.log(sel);
        // console.log(sel.value);
        netSpending(sel.value);
    });

    // document.getElementById('budgetWorthDays').addEventListener('change', (event) => {
    //     onGraphChange(event.target);
    // });
</script>
{% endblock content %}
