{% extends "base.html" %} {% block title %}Dashboard{% endblock title %} {%
block dashboard %}active{% endblock dashboard %} {% block backButton
%}<nb-back-button></nb-back-button>{% endblock backButton %} {% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script src="/static/js/dashboard-new.mjs" type="module"></script>

<script>
  const DEFAULT_BUDGET_URL =
    "{{ url_for('viewbudget_bp.view_budget', id=0) }}".replace("/0", "");
  const GET_PIE_DATA_URL = "{{ url_for('dashboard_bp.get_pie_data') }}";
  const GET_ALL_BUDGETS_LINE_DATA_URL =
    "{{ url_for('dashboard_bp.get_all_budgets_line_data') }}";
  const GET_NET_SPENDING_URL = "{{ url_for('dashboard_bp.get_net_spending') }}";
  const GET_SPENDING_FOR_MONTH_URL =
    "{{ url_for('dashboard_bp.get_spending_for_month') }}";
  const GET_CATEGORY_SPENDING_URL =
    "{{ url_for('dashboard_bp.get_spending_by_category') }}";
  const GET_BUDGET_NAME_URL = "{{ url_for('dashboard_bp.get_budget_name') }}";

  const START_DATE = "{{ startDate }}";
</script>
{% endblock head %} {% block content %}

<div class="wa-stack">
  <wa-details summary="Budgets line chart" appearance="filled outlined" open>
    <div class="wa-stack">
      <div class="wa-split">
        <wa-select
          id="budgets"
          label="Select the budgets to show"
          class="w-fit"
          multiple
          hoist
          disabled
        >
          <wa-option selected value="-1">All Budgets</wa-option>
        </wa-select>
        <wa-input
          class="w-fit hidden"
          id="startDate"
          type="date"
          label="Start date"
        ></wa-input>
      </div>
      <div>
        <canvas id="lineChart"></canvas>
      </div>
    </div>
  </wa-details>

  <wa-details summary="Spending by budget" appearance="filled outlined" open>
    <div class="wa-stack">
      <wa-select
        id="netSpendingSelect"
        label="Spending in"
        class="w-fit"
        hoist
      ></wa-select>

      <div
        id="spending-by-budget-grid"
        class="{% if theme == 'dark' %}ag-theme-alpine-dark{% else %}ag-theme-alpine{% endif %}"
      ></div>
    </div>
  </wa-details>

  <wa-details summary="Spending by category" appearance="filled outlined" open>
    <div class="wa-stack">
      <wa-select
        id="categorySpendingSelect"
        label="Spending interval"
        class="w-fit"
        hoist
      >
        <wa-option selected value="monthly">Monthly</wa-option>
        <wa-option value="weekly">Weekly</wa-option>
      </wa-select>

      <div
        id="spending-by-category-grid"
        class="{% if theme == 'dark' %}ag-theme-alpine-dark{% else %}ag-theme-alpine{% endif %}"
      ></div>
    </div>
  </wa-details>
</div>

{% endblock content %}
