{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}
{% block dashboard %}active{% endblock dashboard %}

{% block backButton %}<a href="/" class="btn btn-outline-primary me-5"> &#8249; Back</a>{% endblock backButton %}



{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>

<script>
    const BUDGET_URLS = {};
    {% for budget in budgets %}
        BUDGET_URLS["{{ budget.name }}".replace("&#39;", "'")] = "{{ url_for('home.view_budget', id=budget.id) }}";
    {% endfor %}

    const storage = window["localStorage"];

    async function getData(url) {
        return new Promise(function (resolve, reject) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url);
            xmlHttp.onload = () => {
                resolve(xmlHttp.response);
            };
            xmlHttp.send(null);

        })
    }
    async function getPieData(date='') {
        let result;
        if (date !== '') {
            result = await getData("{{ url_for('home.get_pie_data') }}" + "?date=" + date);
        }
        else {
            result = await getData("{{ url_for('home.get_pie_data') }}");
        }
        return JSON.parse(result);
    }
    async function getAllBudgetsLineData(daysBack='') {
        let date = new Date();
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let strDate = year + '-' + month + '-' + day;
        let result = await getData("{{ url_for('home.get_all_budgets_line_data') }}" + "?currentDate=" + strDate + "&daysBack=" + daysBack);
        return JSON.parse(result);
    }
    async function getNetSpending(month) {
        let result = await getData("{{ url_for('home.get_net_spending_for_month') }}" + "?month=" + month);
        return JSON.parse(result);
    }
    async function getMonthSpending(month) {
        let result = await getData("{{ url_for('home.get_spending_for_month') }}" + "?month=" + month);
        return JSON.parse(result);
    }
    async function getAllBudgetNames() {
        let result = await getData("{{ url_for('home.get_budget_name') }}");
        return JSON.parse(result);
    }
</script>

<div class="container py-5 h-100">
    <div class="row h-100 py-12">
        <div class="accordion px-0 bg-dark" id="accordionLine">
            <div class="accordion-item bg-dark">
                <p class="accordion-header bg-dark" id="headingOne">
                    <button class="accordion-button bg-dark text-white" id="lineGraphButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Budgets Line Graph
                    </button>
                </p>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionLine">
                    <div class="accordion-body bg-dark mx-5">
                        <div class="">
                            <p class="text-white fs-2">Check the budgets you want to view</p>
                            <div class="overflowScroll-X better-scroll">
                                <div id="lineButtons" class="btn-group my-3" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" class="btn-check" id="allBudgets" checked>
                                    <label id="allBudgetsLabel" class="btn btn-outline-light" for="allBudgets">All Budgets</label>
                                </div>
                            </div>
                            <!-- <div class="text-end mt-3">
                                <button class="btn btn-outline-primary" onclick="reAssignColors()">Randomize colors</button>
                            </div> -->
                        </div>
                        <div class="mb-5">
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="pie-donut-grid">
            <div class="pie-grid">
                <div class="accordion px-0 bg-dark" id="accordionPie">
                    <div class="accordion-item bg-dark">
                        <p class="accordion-header bg-dark" id="headingTwo">
                            <button class="accordion-button bg-dark text-white" id="pieChartButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Budgets Pie Graph
                            </button>
                        </p>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionPie">
                            <div class="accordion-body bg-dark mx-5 mb-5">
                                <div class="row mb-5">
                                    <div class="col-4 text-start">
                                        <p class="text-white mb-1">Show percentages</p>
                                        <label class="switch text-white">
                                            <input id="showPercentage" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="col-4 text-end">
                                        <input class="form-control w-160 bg-light-grey" type="date" id="date">
                                    </div>
                                    <!-- <div class="col-4 text-end">
                                        <button class="btn btn-outline-primary mt-1" onclick="reAssignColors()">Randomize colors</button>
                                    </div> -->
                                </div>
                                <div>
                                    <canvas id="pieChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="donut-grid">
                <div class="accordion px-0 bg-dark" id="accordionMonth">
                    <div class="accordion-item bg-dark">
                        <p class="accordion-header bg-dark" id="headingThree">
                            <button class="accordion-button bg-dark text-white" id="spendingButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Spending for month
                            </button>
                        </p>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionMonth">
                            <div class="accordion-body bg-dark mx-5 mb-5">
                                <div class="row mb-3">
                                    <p class="fs-3 text-white">Spending for month
                                        <select id="spendingMonths" class="form-select mw-130 inline bg-light-grey" aria-label="Default select example">
                                        </select>
                                    </p>
                                </div>
                                <div>
                                    <canvas id="spendingChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-5">
        <div class="col">
            <div class="accordion px-0 bg-dark" id="accordionNet">
                <div class="accordion-item bg-dark">
                    <p class="accordion-header bg-dark" id="headingTemp">
                        <button class="accordion-button bg-dark text-white" id="netSpendingButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNet" aria-expanded="true" aria-controls="collapseNet">
                            Net Spending
                        </button>
                    </p>
                    <div id="collapseNet" class="accordion-collapse collapse show" aria-labelledby="headingTemp" data-bs-parent="#accordionNet">
                        <div class="accordion-body bg-dark">
                            <p class="fs-3 text-white">Spending in
                                <select id="spendingDays" class="form-select mw-130 inline bg-light-grey" aria-label="Default select example">
                                    <!-- <option id="thisMonth">This month</option>
                                    <option value="7">7 days</option>
                                    <option value="14">14 days</option>
                                    <option value="30">30 days</option>
                                    <option value="60">60 days</option>
                                    <option value="90">90 days</option>
                                    <option value="All">All time</option> -->
                                </select>
                            </p>

                            <div class="row justify-content-center justify-content-lg-start" id="net-spending">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/setdate.js"></script>
<script>
    const months = {
        1: "January", 2: "February", 3: "March", 4: "April",
        5: "May", 6: "June", 7: "July", 8: "August", 9: "September",
        10: "October", 11: "November", 12: "December"
    };

    // onChange handler for spending last X days
    // let spending = document.getElementById('spendingDays');
    // spending.addEventListener('change', (event) => {
    //     let sel = event.target;
    //     console.log(sel.options.selectedIndex);
    //     if (sel.options.selectedIndex === 0) {
    //         storage.setItem("spendingDays", "thisMonth");
    //     }
    //     else {
    //         storage.setItem("spendingDays", sel.value);
    //     }
    //     netSpending(sel.value);
    // });

    // onclick handler for showing percentage for pie chart
    let toggle = document.getElementById('showPercentage');
    toggle.onclick = function(event) {
        console.log(event.target.checked);
        storage.setItem("showPercentage", `${event.target.checked}`);
        togglePercentage(event.target.checked)
    }

    let pieDate = document.getElementById('date');

    pieDate.value = strDate;

    pieDate.onchange = (event) => {
        pieChart(event.target.value);
    }

    // sort the donut months
    let monthInt = date.getMonth() + 1;
    let pieSelect = document.getElementById('spendingMonths');
    let budgetSelect = document.getElementById("spendingDays")
    pieSelect.value = monthInt;
    budgetSelect.value = monthInt;
    let value = monthInt;
    for (let i = 0; i < 12; i++) {
        if (value < 1) {
            value += 12;
        }
        let option1 = document.createElement("option");
        option1.value = value;
        option1.innerText = months[value];

        pieSelect.appendChild(option1);

        let option2 = document.createElement("option");
        option2.value = value;
        option2.innerText = months[value];
        budgetSelect.appendChild(option2);

        value -= 1;
    }

    // The change handler for the month spending donut
    pieSelect.addEventListener('change', event => {
        let date = new Date(2000, event.target.value - 1, 1);
        let monthName = date.toLocaleString('default', { month: 'long' });
        spendingPerMonth(event.target.value, monthName);
    });

    budgetSelect.addEventListener('change', event => {
        netSpending(event.target.value);
    });

    // store the accordian state for next use
    let accordions = document.querySelectorAll(".accordion-button");
    for (let accord of accordions) {
        accord.onclick = event => {
            let id = event.target.id;
            let temp = event.target.classList.contains('collapsed');
            storage.setItem(id, temp);
        }
    }

    // Show the percentage if storage says so
    if (storage.getItem("showPercentage") === "true") {
        toggle.checked = true;
    }

    // set spending days according to storage
    // let spendingDays = storage.getItem("spendingDays");
    // if (spendingDays === "thisMonth") {
    //     spending.value = today;
    // }
    // else if (!spendingDays) {
    //     spending.value = spendingDays;
    // }
    // else {
    //     spending.value = "14";
    // }
    // spending.value = "14";
    // if (storage.getItem("spendingDays")) {
    //     let spendingDays = storage.getItem("spendingDays");
    //     if (spendingDays === "thisMonth") {
    //         spending.value = date.getDate();
    //     }
    //     else {
    //         spending.value = storage.getItem("spendingDays");
    //     }
    // }

</script>
{% endblock content %}
