<link
  id="theme"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>
<link
  id="palette"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>

<script>
  const STATIC_FILE_MAP = {
    active: "/static/dist/esbuild/active.QBKFT6D3.css",
    "anodized.palette": "/static/dist/esbuild/anodized.palette.2BKKLFXI.css",
    awesome: "/static/dist/esbuild/awesome.WYM7WVU2.css",
    "base.palette": "/static/dist/esbuild/base.palette.C2MCUWYC.css",
    "bright.palette": "/static/dist/esbuild/bright.palette.AHOT3R5W.css",
    brutalist: "/static/dist/esbuild/brutalist.YT3ZGIUF.css",
    "elegant.palette": "/static/dist/esbuild/elegant.palette.N2H6TLEE.css",
    glossy: "/static/dist/esbuild/glossy.EQHUSLUG.css",
    matter: "/static/dist/esbuild/matter.RRZN6UGT.css",
    mellow: "/static/dist/esbuild/mellow.6D2UHC65.css",
    "mild.palette": "/static/dist/esbuild/mild.palette.FOFL3BQ6.css",
    "natural.palette": "/static/dist/esbuild/natural.palette.MQC2W7TF.css",
    "nb-category": "/static/dist/esbuild/nb-category.YWP2QGT5.css",
    playful: "/static/dist/esbuild/playful.63N3XPHX.css",
    premium: "/static/dist/esbuild/premium.JOGTC3FV.css",
    "rudimentary.palette": "/static/dist/esbuild/rudimentary.palette.33YHO7F7.css",
    shoelace: "/static/dist/esbuild/shoelace.X6A4LLPA.css",
    "shoelace.palette": "/static/dist/esbuild/shoelace.palette.P7NVFVNA.css",
    tailspin: "/static/dist/esbuild/tailspin.MJBLNPB4.css",
    "vogue.palette": "/static/dist/esbuild/vogue.palette.VILIS35E.css",
  };

  const myTheme = "{{ user_settings.settings.theme }}";
  if (myTheme.length) {
    let themeLink = document.getElementById("theme");
    themeLink.href = STATIC_FILE_MAP[myTheme] ?? "";
  }

  const myPalette = "{{ user_settings.settings.color_palette }}";
  if (myPalette.length) {
    let paletteLink = document.getElementById("palette");
    paletteLink.href = STATIC_FILE_MAP[myPalette + ".palette"] ?? "";
  }
</script>

<link
  rel="stylesheet"
  href="/static/dist/esbuild/bundle.IAH53MT5.css"
  render="blocking"
  fetchpriority="high"
/>

<script type="module">
  import {
    Theme
  } from "/static/dist/esbuild/theme.MW4GBW7M.mjs";
  window.THEME = new Theme({{ user_settings.settings|tojson }});
</script>
<script src="/static/dist/esbuild/main.BBUNJ6NV.mjs" type="module" ></script>
<script src="/static/dist/esbuild/agGrid.4O76IKNZ.mjs" type="module" ></script>
<script src="/static/dist/esbuild/nb.FDBAFWLS.mjs" type="module" ></script>

<script
  src="https://js.sentry-cdn.com/85a281a7156d9e667f62a479c3277fce.min.js"
  crossorigin="anonymous"
  defer
></script>
<script src="/static/dist/esbuild/sentry.AY3KDISN.mjs" type="module" defer></script>
