<link
  id="theme"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>
<link
  id="palette"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>

<script>
  const STATIC_FILE_MAP = {
    active: "/static/dist/esbuild/active.G5ZW4WRN.css",
    "anodized.palette": "/static/dist/esbuild/anodized.palette.2BKKLFXI.css",
    awesome: "/static/dist/esbuild/awesome.NGMYB7AI.css",
    "base.palette": "/static/dist/esbuild/base.palette.C2MCUWYC.css",
    "bright.palette": "/static/dist/esbuild/bright.palette.AHOT3R5W.css",
    brutalist: "/static/dist/esbuild/brutalist.5PC3ZYOY.css",
    "elegant.palette": "/static/dist/esbuild/elegant.palette.N2H6TLEE.css",
    glossy: "/static/dist/esbuild/glossy.FBU4GUYC.css",
    matter: "/static/dist/esbuild/matter.6Q6LPBFP.css",
    mellow: "/static/dist/esbuild/mellow.GBRWKJM4.css",
    "mild.palette": "/static/dist/esbuild/mild.palette.FOFL3BQ6.css",
    "natural.palette": "/static/dist/esbuild/natural.palette.MQC2W7TF.css",
    "nb-category": "/static/dist/esbuild/nb-category.YWP2QGT5.css",
    playful: "/static/dist/esbuild/playful.4YE4DPKA.css",
    premium: "/static/dist/esbuild/premium.UOM6BW5H.css",
    "rudimentary.palette": "/static/dist/esbuild/rudimentary.palette.33YHO7F7.css",
    shoelace: "/static/dist/esbuild/shoelace.IWH46K6P.css",
    "shoelace.palette": "/static/dist/esbuild/shoelace.palette.P7NVFVNA.css",
    tailspin: "/static/dist/esbuild/tailspin.RMRSHPYW.css",
    "vogue.palette": "/static/dist/esbuild/vogue.palette.VILIS35E.css",
  };

  const myTheme = "{{ user_settings.settings.theme }}";
  if (myTheme.length) {
    let themeLink = document.getElementById("theme");
    themeLink.href = STATIC_FILE_MAP[myTheme] ?? "";
  }

  const myPalette = "{{ user_settings.settings.color_palette }}";
  if (myPalette.length) {
    let paletteLink = document.getElementById("palette");
    paletteLink.href = STATIC_FILE_MAP[myPalette + ".palette"] ?? "";
  }
</script>

<link
  rel="stylesheet"
  href="/static/dist/esbuild/bundle.ATHEZ4EI.css"
  render="blocking"
  fetchpriority="high"
/>

<script type="module">
  import {
    Theme
  } from "/static/dist/esbuild/theme.MW4GBW7M.mjs";
  window.THEME = new Theme({{ user_settings.settings|tojson }});
</script>
<script src="/static/dist/esbuild/main.MVEAA72L.mjs" type="module" ></script>
<script src="/static/dist/esbuild/agGrid.74EVPR3K.mjs" type="module" ></script>
<script src="/static/dist/esbuild/nb.AZSLXBII.mjs" type="module" ></script>

<script
  src="https://js.sentry-cdn.com/85a281a7156d9e667f62a479c3277fce.min.js"
  crossorigin="anonymous"
  defer
></script>
<script src="/static/dist/esbuild/sentry.AY3KDISN.mjs" type="module" defer></script>
