<link
  id="theme"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>
<link
  id="palette"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>

<script>
  const STATIC_FILE_MAP = {
    active: "/static/dist/esbuild/active.WYRMLQT5.css",
    "anodized.palette": "/static/dist/esbuild/anodized.palette.CANYUSQ4.css",
    awesome: "/static/dist/esbuild/awesome.WHGEGMAV.css",
    "base.palette": "/static/dist/esbuild/base.palette.WP4TLL7V.css",
    "bright.palette": "/static/dist/esbuild/bright.palette.3HLEKCW2.css",
    brutalist: "/static/dist/esbuild/brutalist.QQHP2P7C.css",
    "elegant.palette": "/static/dist/esbuild/elegant.palette.IWOSZAQW.css",
    glossy: "/static/dist/esbuild/glossy.S4RXWNEM.css",
    matter: "/static/dist/esbuild/matter.IGFPZTVV.css",
    mellow: "/static/dist/esbuild/mellow.VPBZQZH6.css",
    "mild.palette": "/static/dist/esbuild/mild.palette.7DBP5VOP.css",
    "natural.palette": "/static/dist/esbuild/natural.palette.M6IUHWEG.css",
    "nb-category": "/static/dist/esbuild/nb-category.YWP2QGT5.css",
    playful: "/static/dist/esbuild/playful.PAQ7QF7O.css",
    premium: "/static/dist/esbuild/premium.PEHVD3DL.css",
    "rudimentary.palette": "/static/dist/esbuild/rudimentary.palette.AZPXCC6F.css",
    shoelace: "/static/dist/esbuild/shoelace.QCQRTPJJ.css",
    "shoelace.palette": "/static/dist/esbuild/shoelace.palette.245IWOHT.css",
    tailspin: "/static/dist/esbuild/tailspin.KWYACFDX.css",
    "vogue.palette": "/static/dist/esbuild/vogue.palette.SEIV5ZXJ.css",
  };

  const myTheme = "{{ user_settings.settings.theme }}";
  if (myTheme.length) {
    let themeLink = document.getElementById("theme");
    themeLink.href = STATIC_FILE_MAP[myTheme] ?? "";
  }

  const myPalette = "{{ user_settings.settings.color_palette }}";
  if (myPalette.length) {
    let paletteLink = document.getElementById("palette");
    paletteLink.href = STATIC_FILE_MAP[myPalette + ".palette"] ?? "";
  }
</script>

<link
  rel="stylesheet"
  href="/static/dist/esbuild/bundle.7CRWK3CO.css"
  render="blocking"
  fetchpriority="high"
/>

<script type="module">
  import {
    Theme
  } from "/static/dist/esbuild/theme.MW4GBW7M.mjs";
  window.THEME = new Theme({{ user_settings.settings|tojson }});
</script>
<script src="/static/dist/esbuild/main.BBUNJ6NV.mjs" type="module" ></script>
<script src="/static/dist/esbuild/agGrid.4O76IKNZ.mjs" type="module" ></script>
<script src="/static/dist/esbuild/nb.RUCKRL6E.mjs" type="module" ></script>

<script
  src="https://js.sentry-cdn.com/d1913311367ec68822f82f8ced7bc88f.min.js"
  crossorigin="anonymous"
  defer
></script>
<script src="/static/dist/esbuild/sentry.AY3KDISN.mjs" type="module" defer></script>
