{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block home %}w3-text-blue{% endblock home %}



{% block content %}
<script>
    function add_new_budget() {
        document.getElementById('addNewBudgetModal').style.display = 'block';
    }

    function delete_budget(budget_id) {
        // document.getElementById('delete_button').href = url;

        document.getElementById('id' + budget_id).style.display = 'block';
    }

    function toggleEdit(id) {
        var hid = document.getElementsByClassName('show-edit-' + id);
        console.log(hid);
        for (var i = 0; i < hid.length; i++) {

            hid[i].hidden = !hid[i].hidden;
        }
        var notHid = document.getElementsByClassName('show-not-edit-' + id);
        console.log(notHid);
        for (var i = 0; i < notHid.length; i++) {
            console.log(i);
            notHid[i].hidden = !notHid[i].hidden;
        }
    }
</script>
    <div class="container-fluid">
        <div class="container pt-5">
            <div class="row justify-content-between">
                <div class="col-auto me-auto">
                    <div class="fw-bold text-white fs-1">
                        Welcome
                    </div>
                    <div class="fs-4 mb-0 subhead text-white-50">
                        Your total of all budgets is {{ total }}
                    </div>
                </div>
                <div class="col-auto pt-5 me-auto" style="margin-right: 0px !important;">
                    <button class="btn btn-outline-light" onclick="add_new_budget()">Add New Budget</button>
                </div>
            </div>
        </div>
    </div>

    {% if budgets %}
        <div class="container ">
            {% for group in budgets %}
                <div class="row">
                    {% for budget in group %}
                        <div class="col-sm mt-5">
                            <div class="card bg-dark text-white" onclick="location.href='{{ url_for('home.view_budget', id=budget.id) }}';" style="cursor: pointer;">
                                <div class="card-body p-4 rounded-bottom">
                                    <p class="show-not-edit-{{ budget.id }} fs-4 text-white mb-0" style="height: 38px;">{{ budget.name }}</p>
                                    <form method="POST" id="budgetForm{{ budget.id }}" action="{{ url_for('home.edit_budget', id=budget.id) }}">
                                        <input onclick="event.stopPropagation();"class="show-edit-{{ budget.id }} form-control w-75" name="editName{{ budget.id }}" type="text" value="{{ budget.name }}" hidden required>
                                    </form>
                                    <p class="text-white mt-3">{{ format_to_money_string(round(budget.total, 2)) }}</p>
                                    <div class="d-flex justify-content-end">
                                        <div class="">
                                            <a class="show-not-edit-{{ budget.id }} btn btn-sm btn-outline-primary mx-3" href="javascript:void(0);" onclick="toggleEdit('{{ budget.id }}'); event.stopPropagation();">Edit</a>
                                            <a class="show-edit-{{ budget.id }} btn btn-sm btn-primary mx-3" href="javascript:void(0);" onclick="document.getElementById('budgetForm{{ budget.id }}').submit(); event.stopPropagation();" hidden>Save</a>
                                        </div>
                                        <div class="">
                                            <a class="show-not-edit-{{ budget.id }} btn btn-sm btn-outline-danger" href="javascript:void(0);" onclick="delete_budget('{{ budget.id }}'); event.stopPropagation();">Delete</a>
                                            <a class="show-edit-{{ budget.id }} btn btn-sm btn-outline-secondary" href="javascript:void(0);" onclick="toggleEdit('{{ budget.id }}'); event.stopPropagation();" hidden>Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div id="id{{ budget.id }}" class="modal" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="POST" action="{{ url_for('home.delete_budget', b_id=budget.id) }}">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete budget {{ budget.name }} ?</h5>
                                            <button onclick="document.getElementById('id{{ budget.id }}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Are you sure you want to delete this transaction?</h6>
                                            <fieldset class="w3-center">
                                                <h6 class="w3-left">Delete this budgets transactions:</h6>
                                                <input class="form-check-input" type="radio" id="delete" name="new_budget" value="None" required>
                                                <label class="" for="delete">&nbsp;Delete transations</label><br><br>
                                                <h6 class="">Or transfer transactions to another budget:</h6>
                                                {% for group in budgets %}
                                                    {% for budg in group %}
                                                        {% if budget.id != budg.id %}
                                                            <input class="form-check-input" type="radio" id="{{ budg.name }}" name="new_budget" value="{{ budg.id }}">
                                                            <label class="form-check-label" for="{{ budg.name }}">{{ budg.name }}</label><br>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </fieldset>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <form method="POST" action="{{ url_for('home.delete_budget', b_id=budget.id) }}"> -->
                                                <button onclick="document.getElementById('id{{ budget.id }}').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                                <button type="submit" id="delete_button" class="btn btn-danger">Delete</button>
                                                <!-- <button onclick="document.getElementById('id{{ budget.id }}').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button> -->
                                            <!-- </form> -->
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>No budgets! Click <a href="{{ url_for('home.add_budget') }}">HERE</a> to add a budget.</h4>
    {% endif %}

    <div id="addNewBudgetModal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title fs-5">Add New Budget</div>
                    <button onclick="document.getElementById('addNewBudgetModal').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addNewBudgetForm" action="{{ url_for('home.add_budget') }}" method="POST">
                        <input type="date" id="date" name="date" hidden>
                        <div class="mb-md-5">
        
                            <!-- <h2 class="card-title">Add Budget</h2>
                            <br> -->
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="name">Budget Name</label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required/>
                            
                            </div>
            
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="amount">Starting Amount</label>
                                <input type="text" id="amount" name="amount" class="form-control" placeholder="Amount" required/>
                            
                            </div>
            
                            <!-- <button class="btn btn-outline-light px-5 mt-3" type="submit">Add Budget</button> -->
            
                        </div>
                    </form>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    See Existing Budgets
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul name="existing_budgets" class="list-group" id="style-1" style="max-height: 200px;overflow-y: scroll;">
                                        {% for group in budgets %}
                                            {% for budget in group %}
                                                <li class="list-group-item" >
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            {{ budget.name }}
                                                        </div>
                                                        <div>
                                                            {{ round(budget.total, 2) }}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button onclick="document.getElementById('addNewBudgetModal').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <input type="submit" form="addNewBudgetForm" class="btn btn-primary" value="Add Budget"/>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('date').valueAsDate = new Date();
    </script>

{% endblock content %}
