{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block home %}w3-text-blue{% endblock home %}



{% block content %}
<script>
    function delete_budget(budget_id, name, url) {
        // document.getElementById('delete_button').href = url;

        document.getElementById(budget_id).style.display = 'block';
    }
</script>

    <div class="container-fluid mt-5">
        <div class="container pb-5 pt-5">
            <h1 class="fw-bold text-white">
                Welcome
            </h1>
            <p class="fs-4 mb-0 subhead text-white-50">
                Your total of all budgets is {{ total }}
            </p>
        </div>
    </div>

    {% if budgets %}
        <div class="container pt-3">
            {% for group in budgets %}
                <div class="row">
                    {% for budget in group %}
                        <div class="col-sm mt-5">
                            <a href="{{ url_for('home.view_budget', id=budget.id) }}" style="text-decoration: none;">
                                <div class="card bg-dark text-white">
                                    <div class="card-body p-4 rounded-bottom">
                                        <h4>{{ budget.name }} Budget</h4>
                                        <p>{{ round(budget.total, 2) }}</p>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
    {% endif %}

    




    

    

{% endblock content %}s