{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}



{% block content %}

<section class="">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">
        
                    <form action="{{ url_for('auth.signup_post') }}" method="POST">
                        <div class="mt-md-4">

                            <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="email"><h4>Email</h4></label>
                                <input class="form-control" type="email" id="email" name="email" placeholder="Your email" {% if email %}value="{{ email }}"{% endif %} required>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="fname"><h4>First and last name</h4></label>
                                <div class="input-group">
                                    <!-- <span class="input-group-text">First and last name</span> -->
                                    <input class="form-control" type="text" id="fname" name="fname" placeholder="Your first name" required>
                                    <input class="form-control" type="text" id="lname" name="lname" placeholder="Your last name" required>
                                </div>

                            </div>

                            <!-- <div class="form-outline form-white mb-4">
                                <label class="form-label" for="fname"><h4>First Name</h4></label>
                                <input class="form-control" type="text" id="fname" name="fname" placeholder="Your first name" required>
                            </div> -->

                            <!-- <div class="form-outline form-white mb-4">
                                <label class="form-label" for="lname"><h4>Last Name</h4></label>
                                <input class="form-control" type="text" id="lname" name="lname" placeholder="Your last name" required>
                            </div> -->

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="password1"><h4>Password</h4></label>
                                <input class="form-control" type="password" id="password1" name="password1" placeholder="Password" required>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="password2"><h4>Password Again</h4></label>
                                <input class="form-control" type="password" id="password2" name="password2" placeholder="Password" required>
                            </div>

                            <div class="form-outline form-white pt-4">
                                <input class="btn btn-primary" type="submit" value="Sign Up">
                            </div>
        
            

            
                        </div>
                    </form>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}s