{% extends "base.html" %} {% block title %}SimpleFIN Setup{% endblock title %}{%
block backButton %}

<nb-back-button></nb-back-button>

{% endblock backButton %} {% block head %}
<script>
  const CLAIM_SIMPLEFIN_TOKEN_URL =
    "{{ url_for('simplefin_bp.claim_simplefin_token') }}";
  const DELETE_SIMPLEFIN_CREDENTIALS_URL =
    "{{ url_for('simplefin_bp.delete_simplefin_credentials') }}";
</script>

<script src="/static/js/nb-simplefin.mjs" type="module"></script>

{% endblock head %} {% block content %}

<nb-simplefin
  class="main-card"
  credentials='{{ credentials|tojson }}'
></nb-simplefin>

{% endblock content %}
