{% extends "base.html" %} {% block title %}Transfer{% endblock title %} {% block
transfer %}active{% endblock transfer %} {% block backButton %}<wa-button
  href="/"
  id="back-button"
  variant="brand"
  appearance="outlined"
>
  <wa-icon library="ion" name="chevron-back-outline"></wa-icon> Back</wa-button
>{% endblock backButton %} {% block head %}

<script src="/static/js/nb-transfer.mjs" type="module"></script>

{% endblock head %} {% block content %}

<nb-transfer class="main-card" budgets='{{ budgets|tojson }}'></nb-transfer>

{% endblock content %}
