{% extends "base.html" %}

{% block title %}Transfer{% endblock title %}
{% block transfer %}active{% endblock transfer %}
{% block backButton %}<a href="/" class="btn btn-outline-primary me-5"> &#8249; Back</a>{% endblock backButton %}



{% block content %}

<script>

    function remove_from_source() {
        var sources = document.getElementsByClassName('source');
        for (var i = 0; i < sources.length; i++) {
            sources[i].style.display = "block";
        }

        var d_select_id = document.getElementById('dest_budget').value;
        // console.log(d_select_id);
        var source_select = document.getElementById("source" + d_select_id);
        // console.log(source_select);
        source_select.style.display = "none";

    }

    function remove_from_dest() {
        var sources = document.getElementsByClassName('dest');
        for (var i = 0; i < sources.length; i++) {
            sources[i].style.display = "block";
        }

        var s_select_id = document.getElementById('source_budget').value;
        // console.log(s_select_id);
        var dest_select = document.getElementById("dest" + s_select_id);
        // console.log(dest_select);
        dest_select.style.display = "none";

        // if 
    }

</script>

<div class="container py-5 h-100">
    <div class="card bg-dark text-white border-0">
        <div class="row">
            <div class="col-lg-5 hidden-on-smaller-992">
                <img src="/static/images/transfer.png" class="img-fluid rounded-start img-full" alt="Money image">
            </div>
            <div class="col-lg-7">
                <div class="card-body p-5">
                    <p class="card-title fs-2 mb-3">Transfer money</p>
                    <form action="{{ url_for('home.transfer') }}" method="POST">
                        <input type="date" id="date" name="date" hidden>
                        <div class="row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="row mb-4">
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="name">Transfer Name</label>
                                            <input class="validatePaycheck form-control" type="text" id="paycheckName" name="name" placeholder="Transfer Me" required autocomplete="niklas">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="amount">Amount</label>
                                            <input class="validatePaycheck form-control" type="number"step=".01" id="paycheck_amount" name="amount" placeholder="0.00" required autocomplete="niklas">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12">
                                <div class="row mb-4">
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="source_budget">Source budget</label>
                                            <select class="form-select" name="source_budget" id="source_budget" onchange="remove_from_dest()" required>
                                                <option value="">Please select</option>
                                                {% for budget in budgets %}
                                                    <option class="source" id="source{{ budget.id }}" value="{{ budget.id }}">{{ str(budget) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="dest_budget">Destination budget</label>
                                            <select class="form-select" name="dest_budget" id="dest_budget" onchange="remove_from_source()" required>
                                                <option value="">Please select</option>
                                                {% for budget in budgets %}
                                                    <option class="dest" id="dest{{ budget.id }}" value="{{ budget.id }}">{{ str(budget) }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <input class="btn btn-primary" type="submit" value="Transfer">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/setdate.js"></script>

{% endblock content %}