{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block
head %}
<script>
  const VIEW_TRANSACTIONS_CONTENT_URL =
    "{{ url_for('viewtransactions_bp.api_get_transactions') }}";
  const PENDING_TRANSACTIONS_URL =
    "{{ url_for('simplefin_bp.api_get_pending_transaction') }}";
  const API_SYNC_SIMPLEFIN_TRANSACTIONS_URL =
    "{{ url_for('simplefin_bp.api_sync_simplefin_transactions') }}";
</script>

<script src="/static/js/nb-view-transactions.mjs" type="module"></script>

<link
  rel="preload"
  href="{{ url_for('viewtransactions_bp.api_get_transactions') }}"
  as="fetch"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  href="{{ url_for('simplefin_bp.api_get_pending_transaction') }}"
  as="fetch"
  crossorigin="anonymous"
/>
{% endblock head %}{% block content %}

<nb-view-transactions
  transactions='{{ transactions|tojson }}'
  budgets='{{ budgets|tojson }}'
  categories='{{ categories|tojson }}'
  theme="{{ theme.mode }}"
  total="{{ total }}"
></nb-view-transactions>

{% endblock content %}
