{% extends "base.html" %}

{% block title %}{{ budget.name }}{% endblock title %}




{% block content %}


    <div class="w3-cell-row w3-padding-32">
        <div class="w3-container">
            <br><br><br><br>
            <h1>{{ budget.name }}</h1>
            <h2>Total: {{ budget.total }}</h2>
        </div>
        
    </div>


    <div class="w3-cell-row w3-padding-32 content">
        <div class="w3-container w3-cell" style="width:15%"></div>
        <div class="w3-container">
            <table class="w3-table w3-striped w3-bordered w3-border">
                <tr>
                    <th class="w3-center">Name</th><th class="w3-center">Amount</th><th class="w3-center">Date</th><th></th>
                </tr>
                {% for trans in transactions %}
                    <tr>
                        <td class="w3-center"><p style="padding:0;">{{ trans.name }}</p></td>
                        <td class="w3-center"><p style="padding:0;">{{ trans.amount }}</p></td>
                        <td class="w3-center"><p style="padding:0;">{{ trans.date }}</p></td>
                        <td class="w3-center"><a style="padding:0;" class="w3-text-red" href="{{ url_for('home.delete_transaction', b_id=budget.id, t_id=trans.id) }}">delete</a></td>
                    </tr>
                {% endfor %}
                <form></form>
                <tr>
                    <td class="w3-center"><input type="text" form="addTransaction" name="name" placeholder="Transactions name"></td>
                    <td class="w3-center"><input type="text" form="addTransaction" name="amount" placeholder="Amount"></td>
                    <td class="w3-center"></td>
                    <td class="w3-center"><form id="addTransaction" method="POST" action="{{ url_for('home.budget_transaction') }}"><input name="budget" value="{{ budget.id }}" hidden><input type="submit" value="Add Transaction"></form></td>
                </tr>
            </table>
            <!-- <table class="w3-table w3-striped w3-bordered w3-border">
                <tr>
                    <th class="w3-center">Name</th><th class="w3-center">Handicap</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td class="w3-center"><p style="padding:0;">{{ user.name }}</p></td>
                        <td class="w3-center"><p style="padding:0;">{{ user.handicap }}</p></td>
                    </tr>
                {% endfor %}
            </table> -->
        </div>
        <div class="w3-container w3-cell" style="width:15%"></div>
        </div>

{% endblock content %}s