{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block
head %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@33.3.2/dist/ag-grid-community.min.js"></script>
<script>
  const VIEW_TRANSACTIONS_CONTENT_URL =
    "{{ url_for('viewtransactions_bp.api_get_transactions') }}";
</script>

<script src="/static/js/nb-view-transactions.mjs" type="module"></script>

<link
  rel="preload"
  href="{{ url_for('viewtransactions_bp.api_get_transactions') }}"
  as="fetch"
  crossorigin="anonymous"
/>
{% endblock head %}{% block content %}

<nb-view-transactions
  transactions='{{ transactions|tojson }}'
  budgets='{{ budgets|tojson }}'
  categories='{{ categories|tojson }}'
  theme="{{ theme.mode }}"
  total="{{ total }}"
></nb-view-transactions>

{% endblock content %}
