{% extends "base.html" %}

{% block title %}{{ budget.name }}{% endblock title %}

{% block backButton %}<a href="/" class="btn btn-outline-primary me-5"> &#8249; Back</a>{% endblock backButton %}



{% block content %}
<script>
    const storage = window["localStorage"];

    function deleteTransaction(t_id) {
        document.getElementById('delete_id' + t_id).style.display = 'block';
    }

    function moveTransaction(t_id) {
        document.getElementById('move_id' + t_id).style.display = 'block';
    }

    function editTransaction(id) {
        var hid = document.getElementsByClassName('show-edit-' + id);
        console.log(hid);
        for (var i = 0; i < hid.length; i++) {

            hid[i].hidden = false;
        }
        var notHid = document.getElementsByClassName('show-not-edit-' + id);
        console.log(notHid);
        for (var i = 0; i < notHid.length; i++) {
            console.log(i);
            notHid[i].hidden = true;
        }
    }

    function cancelEdit(id) {
        var hid = document.getElementsByClassName('show-edit-' + id);
        for (var i = 0; i < hid.length; i++) {
            hid[i].hidden = true;
        }
        var notHid = document.getElementsByClassName('show-not-edit-' + id);
        for (var i = 0; i < notHid.length; i++) {
            notHid[i].hidden = false;
        }
    }

    function checkInput() {
        var name = document.getElementById("name").value;
        var amount = document.getElementById("amount").value;
        console.log(name == '', name);
        console.log(amount);
        if (name !== '' && amount !== '') {
            if (!isNaN(amount)) {
                // success
                var btn = document.getElementById('transSubmit');
                btn.disabled = false;
                var nameEle = document.getElementById('name');
                // name.className.replace(' w3-border-red', '');
                if (nameEle.classList.contains("w3-border-red")) {
                    nameEle.classList.remove("w3-border-red");
                }
                var amountEle = document.getElementById('amount');
                if (amountEle.classList.contains("w3-border-red")) {
                    amountEle.classList.remove("w3-border-red");
                }
                return;
            }
            else {
                var amountEle = document.getElementById('amount');
                if (!amountEle.classList.contains("w3-border-red")) {
                    amountEle.classList.add("w3-border-red");
                }
            }
        }
        if (name == '') {
            var nameEle = document.getElementById('name');
            if (!nameEle.classList.contains("w3-border-red")) {
                nameEle.classList.add("w3-border-red");
            }
        }
        if (amount === '') {
            var amountEle = document.getElementById('amount');
            if (!amountEle.classList.contains("w3-border-red")) {
                amountEle.classList.add("w3-border-red");
            }
        }
        var btn = document.getElementById('transSubmit');
        btn.disabled = true;
    }
</script>
    <div class="container pb-5 pt-3">
        <div class="row">
            <div class="col-auto me-auto">
                <div class="fw-bold text-white fs-1">
                    {{ budget.name }}
                </div>
                <div class="fs-4 mb-0 subhead text-white-50">
                    Total: {{ format_to_money_string(round(budget.total, 2)) }}
                </div>
            </div>
            <div class="col-auto align-self-end fs-5 text-white">
                Transaction input at
                <div id="transactionTopBottomToggle" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="top" autocomplete="off">
                    <label class="btn btn-sm btn-outline-light" for="top">Top</label>

                    <input type="radio" class="btn-check" name="btnradio" id="bottom" autocomplete="off">
                    <label class="btn btn-sm btn-outline-light" for="bottom">Bottom</label>
                </div>
                <!-- <div id="lineButtons" class="btn-group my-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" id="top" checked>
                    <label id="topLabel" class="btn btn-outline-light" for="top">Top</label>
                    <input type="me-auto" class="btn-check" id="bottom">
                    <label id="bottomLabel" class="btn btn-outline-light" for="bottom">Bottom</label>
                </div> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card h-100 mb-4 bg-dark">
            <div class="card-header pb-0 px-3 bg-dark">
                <p class="fs-3 text-white">Your Transaction's</p>
            </div>
            <div class="card-body bg-dark">
                <ul id="transactionList" class="list-group">
                    {% for trans in transactions.items %}
                        <form method="POST" id="trans{{ trans.id }}" action="{{ url_for('home.edit_transaction', b_id=budget.id, t_id=trans.id) }}">
                            <input id="page" name="page" value="{{ transactions.page }}" hidden>
                            <li class="list-group-item bg-dark border-start-0 border-top-0 border-end-0 border-transparent ">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex">
                                            <div class="d-flex flex-column">
                                                <p class="show-not-edit-{{ trans.id }} fs-5 my-0 text-white ">{{ trans.name }}</p>
                                                <input class="show-edit-{{ trans.id }} form-control mb-2" type="text" id="editName{{ trans.id }}" name="editName{{ trans.id }}" value="{{ trans.name }}" autocomplete="niklas" hidden>
                                                <div class="row text-white-50">
                                                    <div class="col-12 {% if trans.is_transfer %}{% endif %}">
                                                        <span class="show-not-edit-{{ trans.id }} fs-75">{{ trans.date.strftime("%B %d, %Y") }}</span>
                                                        <input class="show-edit-{{ trans.id }} form-control w-75" type="date" id="editDate{{ trans.id }}" name="editDate{{ trans.id }}" value="{{ trans.date.strftime('%Y-%m-%d') }}" hidden>
                                                    </div>
                                                    {% if trans.is_transfer %}
                                                        <div class="col-12 text-info-50 show-not-edit-{{ trans.id }}">
                                                            <span class="fs-75">Transfer</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center">
                                            <p class="show-not-edit-{{ trans.id }} fs-6 text-white">
                                                {{ format_to_money_string(trans.amount) }}
                                            </p>
                                            <input class="show-edit-{{ trans.id }} form-control w-25 amount-input-71" type="number" step=".01" id="editAmount{{ trans.id }}" name="editAmount{{ trans.id }}" value="{{ trans.amount }}" autocomplete="niklas" hidden>
                                        </div>
                                    </div>
                                    <div class="col text-white">
                                        <div class="d-flex justify-content-end">
                                            <div class="fs-6">
                                                <!-- <span class="show-not-edit-{{ trans.id }}"><a class="show-not-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="deleteTransaction('{{ trans.id }}')">delete <i class="material-icons fs-6">delete</i></a> | </span> -->
                                                <span class="show-not-edit-{{ trans.id }}"><a class="show-not-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="editTransaction('{{ trans.id }}')">edit <i class="material-icons fs-6">edit</i></a> | </span>
                                                <a class="show-not-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="moveTransaction('{{ trans.id }}')">move</a>
                                                <a class="show-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="document.getElementById('trans{{ trans.id }}').submit();" hidden>update</a>
                                                |
                                                <!-- <a class="show-not-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="editTransaction('{{ trans.id }}')">edit <i class="material-icons fs-6">edit</i></a> -->
                                                <a class="show-not-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="deleteTransaction('{{ trans.id }}')">delete <i class="material-icons fs-6">delete</i></a>
                                                <a class="show-edit-{{ trans.id }} no-underline p-0" href="javascript:void(0);" onclick="cancelEdit('{{ trans.id }}')" hidden>cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </form>
                        <div id="delete_id{{ trans.id }}" class="modal" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete transaction {{ trans.name }} ?</h5>
                                        <button onclick="document.getElementById('delete_id{{ trans.id }}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this transaction?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST" action="{{ url_for('home.delete_transaction', b_id=budget.id, t_id=trans.id) }}">
                                            <button type="submit" id="delete_button" class="btn btn-danger">Delete</button>
                                            <button onclick="document.getElementById('delete_id{{ trans.id }}').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="move_id{{ trans.id }}" class="modal" style="display: none;">
                            <div class="modal-dialog">\
                                <form method="POST" action="{{ url_for('home.move_transaction', sb_id=budget.id, t_id=trans.id) }}">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Move transaction {{ trans.name }} ?</h5>
                                            <button onclick="document.getElementById('move_id{{ trans.id }}').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Which budget would you like to move this transaction to?</p>

                                            <div class="form-outline form-white mb-4">
                                                <label for="new_budget">Select budget:</label>
                                                <select class="form-select form-select-sm w-75" name="new_budget" id="new_budget" required>
                                                    {% for budg in budgets %}
                                                        {% if budget.id != budg.id %}
                                                            <option class="" value="{{ budg.id }}">{{ str(budg) }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="" class="btn btn-primary">Move</button>
                                            <button onclick="document.getElementById('move_id{{ trans.id }}').style.display='none'" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    {% endfor %}
                    <li id="transactionInput" class="list-group-item pb-2 bg-dark border-0">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex">
                                    <div class="d-flex flex-column">
                                        <input class="form-control mb-2" type="text" form="addTransaction" id="name" name="name" placeholder="Spent too much?" autocomplete="niklas" required>
                                        <input class="form-control w-75" type="date" form="addTransaction" id="date" name="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <input class="form-control w-25 amount-input-86" type="number" step=".01" form="addTransaction" id="amount" name="amount" placeholder="0.00" autocomplete="niklas" required>
                                </div>
                            </div>
                            <div class="col text-white">
                                <div class="d-flex justify-content-end">
                                    <form id="addTransaction" method="POST" action="{{ url_for('home.budget_transaction') }}"><input name="budget" value="{{ budget.id }}" hidden><input class="btn btn-primary" id="transSubmit" type="submit" value="Add Transaction" disabled></form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                {% if transactions.page > 1 %}
                    <li class="page-item">
                        {% if curr_date and days_back %}
                            <a class="page-link" href="{{ url_for('home.view_budget', id=budget.id, page=transactions.page-1, currentDate=curr_date, daysBack=days_back) }}" aria-label="Next">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="{{ url_for('home.view_budget', id=budget.id, page=transactions.page-1) }}" aria-label="Next">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page_num in transactions.iter_pages(left_edge=0, right_edge=0, left_current=2, right_current=3) %}
                    {% if page_num %}

                        {% if transactions.page == page_num %}
                            <li class="page-item active"><a class="page-link">{{ page_num }}</a></li>
                        {% else %}
                            <li class="page-item">
                                {% if curr_date and days_back %}
                                    <a class="page-link" href="{{ url_for('home.view_budget', id=budget.id, page=page_num, currentDate=curr_date, daysBack=days_back) }}">{{ page_num }}</a>
                                {% else %}
                                    <a class="page-link" href="{{ url_for('home.view_budget', id=budget.id, page=page_num) }}">{{ page_num }}</a>
                                {% endif %}
                            </li>
                        {% endif %}


                    {% endif %}
                {% endfor %}
                {% if transactions.page == (transactions.total // transactions.per_page) + (transactions.total % transactions.per_page > 0) or transactions.total < 11 %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        {% if curr_date and days_back %}
                            <a class="page-link" href="{{ url_for('home.view_budget', id=budget.id, page=transactions.page+1, currentDate=curr_date, daysBack=days_back) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="{{ url_for('home.view_budget', id=budget.id, page=transactions.page+1) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>



    <script>
        function moveTransactionInputTo(location) {
            // pass
            let transactionInput = document.querySelector("#transactionInput");
            transactionInput.remove();

            let transactionForms = document.querySelectorAll("#transactionList > form");
            let lastTransaction = transactionForms[transactionForms.length - 1].querySelector("li");
            lastTransaction.classList.toggle("border-bottom-0");

            let transactionList = document.querySelector("#transactionList");

            if (location === "top") {
                let firstTransaction = document.querySelector("#transactionList > form");
                transactionList.insertBefore(transactionInput, firstTransaction);
                transactionInput.classList.add("border-start-0", "border-top-0", "border-end-0", "border-transparent");
                transactionInput.classList.remove("border-0");
            }
            else if (location === "bottom") {
                transactionList.appendChild(transactionInput);
                transactionInput.classList.remove("border-start-0", "border-top-0", "border-end-0", "border-transparent");
                transactionInput.classList.add("border-0");
            }
        }

        function topBottomTransactionToggle(event) {
            let location = event.target.id;
            moveTransactionInputTo(location);
            storage.setItem("transactionInputLocation", location);

        }

        let topButton = document.querySelector("#top");
        topButton.addEventListener("click", topBottomTransactionToggle);

        let bottomButton = document.querySelector("#bottom");
        bottomButton.addEventListener("click", topBottomTransactionToggle);

        let transactionInputLocation = storage.getItem("transactionInputLocation");
        if (transactionInputLocation === "top") {
            topButton.checked = true;
            moveTransactionInputTo("top");
        }
        else {
            bottomButton.checked = true;
        }

        document.getElementById("name").addEventListener("keyup", checkInput);
        document.getElementById("amount").addEventListener("keyup", checkInput);
        let date = new Date();
        let ele = document.getElementById('date');
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let strDate = year + '-' + month + '-' + day;
        ele.valueAsDate = date;
        ele.value = strDate;
    </script>

{% endblock content %}
